In [1]:
from importlib import reload

import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

import matplotlib.pyplot as plt
from matplotlib import rc
import matplotlib.cm as cm

import re

import pickle
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

C:\Users\339340273\AppData\Local\Continuum\anaconda3\envs\gaku\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

In [2]:
import probscale
import seaborn as sns

In [3]:
import sys
sys.path.append('C:/dstools')
import sig_test

In [4]:
from pyhive import presto
req_kw = {
  'verify': 'C:/presto/Presto_JDBC_Driver/WDC_CA_bundle.pem'
}

# ETL Script

In [5]:
def get_ghl2_table (table, searchCond, sel, whereAdded = None, fName=None):
    
    con = presto.connect(
      host='bdp-e2e-presto.wdc.com',
      port=8446,
      protocol='https',
      catalog='hive',
      username='gaku.kiuchi@wdc.com',
      requests_kwargs=req_kw
    )

    batchsize = 100

    df = pd.DataFrame({})
    df_sn = pd.read_csv(searchCond[0])
    for strt in range(0, df_sn['sn'].shape[0], batchsize):
        sql = "select %s " % sel
        sql += "from ghl2."+table + " "
        sql += "where product='pdq' "
        sql += "and testcode in (%s) "  % re.sub('[\[\]]', '', '%s' % searchCond[1])
        sql += "and enddt between '%s' and '%s' " % (searchCond[2][0], searchCond[2][1]) 
        #sql += "and hddtrial in (%s) "  % re.sub('[\[\]]', '', '%s' % searchCond[3])    
        sql += "and hddsn in (%s) "     % re.sub('[\[\]]', '', '%s' % list(df_sn['sn'].values)[strt:strt+batchsize])
        sql += "and procid in (%s) "    % re.sub('[\[\]]', '', '%s' % searchCond[4])
        sql += "and qualifier in (%s) " % re.sub('[\[\]]', '', '%s' % searchCond[5])
        sql += "and pfcode not in ('9999', '99V6', '99V7') "
        if whereAdded != None:
            sql += "and %s " % whereAdded
        print ('current sql is %s' % sql)
        df = df.append( pd.read_sql(sql, con) )
        print(df.shape)

    con.close()
    
    if fName == None:
        df.to_pickle('df_%s.pkl'%table)
        df.to_csv('df_%s.csv'%table, index=False)
    else:
        df.to_pickle('%s.pkl'%fName)
        df.to_csv('%s.csv'%fName, index=False)
    return(df)

In [6]:
def get_vqaa_table (table, searchCond, sel, whereAdded = None):
    
    con = presto.connect(
      host='bdp-e2e-presto.wdc.com',
      port=8446,
      protocol='https',
      catalog='hive',
      username='gaku.kiuchi@wdc.com',
      requests_kwargs=req_kw
    )

    batchsize = 100

    df = pd.DataFrame({})
    df_sn = pd.read_csv(searchCond[0])
    for strt in range(0, df_sn['sn'].shape[0], batchsize):
        sql = "select %s " % sel
        sql += "from vqaa."+table + " "
        sql += "where product='pdq' "
        sql += "and testpgmver in (%s) "  % re.sub('[\[\]]', '', '%s' % searchCond[1])
        sql += "and enddt between '%s' and '%s' " % (searchCond[2][0], searchCond[2][1]) 
        sql += "and hddtrial in (%s) "  % re.sub('[\[\]]', '', '%s' % searchCond[3])    
        sql += "and hddsn in (%s) "     % re.sub('[\[\]]', '', '%s' % list(df_sn['sn'].values)[strt:strt+batchsize])
        sql += "and procid in (%s) "    % re.sub('[\[\]]', '', '%s' % searchCond[4])
        #sql += "and qualifier in (%s) " % re.sub('[\[\]]', '', '%s' % searchCond[5])
        #sql += "and pfcode not in ('9999', '99V6', '99V7') "
        if whereAdded != None:
            sql += "and %s " % whereAdded
        print ('current sql is %s' % sql)
        df = df.append( pd.read_sql(sql, con) )
        print(df.shape)

    con.close()
        
    df.to_pickle('df_%s.pkl'%table)
    df.to_csv('df_%s.csv'%table, index=False)
    return(df)

In [7]:
def get_sdet_table (table, searchCond, sel, whereAdded = None):
    
    con = presto.connect(
      host='bdp-e2e-presto.wdc.com',
      port=8446,
      protocol='https',
      catalog='hive',
      username='gaku.kiuchi@wdc.com',
      requests_kwargs=req_kw
    )

    batchsize = 100

    df = pd.DataFrame({})
    df_sn = pd.read_csv(searchCond[0])
    for strt in range(0, df_sn['slidersn'].shape[0], batchsize):
        sql = "select %s " % sel
        sql += "from hive."+table + " "
        sql += "where "
        sql += "storeday between '%s' and '%s' " % (searchCond[1][0], searchCond[1][1])
        sql += "and slidersn in (%s) " % re.sub('[\[\]]', '', '%s' % list(df_sn['slidersn'].values)[strt:strt+batchsize])
        if whereAdded != None:
            sql += "and %s " % whereAdded
        print ('current sql is %s' % sql)
        df = df.append( pd.read_sql(sql, con) )
        print(df.shape)

    con.close()
        
    df.to_pickle('df_%s.pkl'%table)
    df.to_csv('df_%s.csv'%table, index=False)
    return(df)

# ETL

In [8]:
#parameters
stpi      = 580.0
dtpi_cmr  = 500.0
dtpi_smr  = 602.0
tgtLbaCmr = 273906721.0
tgtLbaSmr = 333662709.0

In [9]:
#peak current

def IwPeak4G4(iw, ka, kd):
    return((-0.013954886*ka + 1.128161219) * iw + (1.973010793 * ka -1.407847328))

def IwPeak4G4i(iw, ka, kd):
    return((-0.015470889*ka + 1.684161818) * iw + (1.335027916 * ka +0.387637386))

In [10]:
def get_nth_char (strList, index=0):
    a = []
    for q in list(strList):
        a.append(q[index])
    return(a)

In [11]:
snlist_csv   = 'sn_all.csv'
listTestcode = ['PDQX083S']
listEnddt    = ['20201225', '20201229']
listHddTrial = ['M1W2', 'M1W3', 'M1W6', 'M1YP', 'M1YQ']

# Head Map Check

In [12]:
#Head Map
inputParamGhl2Rmr = [snlist_csv, 
                     listTestcode,
                     listEnddt, 
                     listHddTrial,
                     ['6400'],
                     ['10N0']
                    ]
dfHeadMap = get_ghl2_table('ccb_ci_rmr', inputParamGhl2Rmr, 
                           'hddsn, testcode, mfgid, mfgid_5, hddtrial, lhd, phd, \
                            row_number() over ( partition by hddsn, testcode, lhd order by enddate desc) as row_num')
dfHeadMap.to_pickle('dfHeadMap.pkl')
dfHeadMap = pd.read_pickle('dfHeadMap.pkl').query("row_num==1")
dfHeadMap

current sql is select hddsn, testcode, mfgid, mfgid_5, hddtrial, lhd, phd,                             row_number() over ( partition by hddsn, testcode, lhd order by enddate desc) as row_num from ghl2.ccb_ci_rmr where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('10N0') and pfcode not in ('9999', '99V6', '99V7')
(28, 8)

       hddsn  testcode   mfgid mfgid_5 hddtrial  lhd  phd  row_num
0   2FA02DNA  PDQX083M  KJ1C03       3     Z07E    0    9        1
1   2FA06G5A  PDQX083M  KJ1C03       3     NPIF    1   10        1
2   2FA00WRA  PDQX083M  KJ1C03       3     Z07E    0    9        1
3   2FA06H1A  PDQX083M  KJ1C03       3     NPIF    1   10        1
4   2FA02E8A  PDQX083M  KJ1C03       3     Z07E    0    9        1
5   2FA00WRA  PDQX083M  KJ1C03       3     Z07E    1   10        1
6   2FA06H1A  PDQX083M  KJ1C03       3     NPIF    0    9        1
7   2FA01EHA  PDQX083M  KJ1C03       3     Z07E    1   10        1
8   2FA06GNA  PDQX083M  KJ1C03       3     NPIF    0    9        1
9   2FA06G3A  PDQX083M  KJ1C03       3     NPIF    1   10        1
10  2FA06EXA  PDQX083M  KJ1C03       3     NPIF    0    9        1
11  2FA02DKA  PDQX083M  KJ1C03       3     Z07E    1   10        1
12  2FA06H4A  PDQX083M  KJ1C03       3     NPIF    0    9        1
13  2FA06EXA  PDQX083M  KJ1C03       3     NPIF    1   10        1
14  2FA02DNA  PDQX083M  KJ1C03       3     Z07E    1   10        1
15  2FA01E4A  PDQX083M  KJ1C03       3     Z07E    0    9        1
16  2FA06GNA  PDQX083M  KJ1C03       3     NPIF    1   10        1
17  2FA02DKA  PDQX083M  KJ1C03       3     Z07E    0    9        1
18  2FA02EUA  PDQX083M  KJ1C03       3     Z07E    1   10        1
19  2FA01E4A  PDQX083M  KJ1C03       3     Z07E    1   10        1
20  2FA02EAA  PDQX083M  KJ1C03       3     Z07E    1   10        1
21  2FA02EAA  PDQX083M  KJ1C03       3     Z07E    0    9        1
22  2FA02EUA  PDQX083M  KJ1C03       3     Z07E    0    9        1
23  2FA06H4A  PDQX083M  KJ1C03       3     NPIF    1   10        1
24  2FA06G3A  PDQX083M  KJ1C03       3     NPIF    0    9        1
25  2FA06G5A  PDQX083M  KJ1C03       3     NPIF    0    9        1
26  2FA02E8A  PDQX083M  KJ1C03       3     Z07E    1   10        1
27  2FA01EHA  PDQX083M  KJ1C03       3     Z07E    0    9        1

In [13]:
pd.pivot_table(dfHeadMap.query("lhd==0"), index=['hddsn', 'mfgid_5'], columns=['testcode'], values='hddtrial', aggfunc='count')

testcode          PDQX083M
hddsn    mfgid_5
2FA00WRA 3               1
2FA01E4A 3               1
2FA01EHA 3               1
2FA02DKA 3               1
2FA02DNA 3               1
2FA02E8A 3               1
2FA02EAA 3               1
2FA02EUA 3               1
2FA06EXA 3               1
2FA06G3A 3               1
2FA06G5A 3               1
2FA06GNA 3               1
2FA06H1A 3               1
2FA06H4A 3               1

# SER, OW, Pbo

In [14]:
## SER ##
inputParamGhl2Ser = [snlist_csv, 
                     listTestcode,
                     listEnddt, 
                     listHddTrial,
                     ['6400', '6600', '6800'],
                     ['1000', '1010', 
                      '2000', '2010',
                      '30N0', '3050', '3060', 
                      '40N0', '4050', '4060', 
                      '9070', '9050', '9060', 
                      'K070', 'K050', 'K060',
                      'B0N0', 'B010', 'B020', 
                      'M0N0', 'M010', 'M020',
                     ]
                     #['1000', '1010', '1020', 
                     # '10A0',
                     # '30N0', '3050', '3060']
                    ]
dfSer = get_ghl2_table('ccb_ci_ser', inputParamGhl2Ser, 
                       'hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, ser, offset, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num ',
                       'band < 64'
                      )
dfSer

current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, ser, offset,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '30N0', '3050', '3060', '40N0', '4050', '4060', '9070', '9050', '9060', 'K070', 'K050', 'K060', 'B0N0', 'B010', 'B020', 'M0N0', 'M010', 'M020') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(281600, 11)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, ser, offset,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '30N0', '3050', '3060', '40N0', '4050', '4060', '9070', '9050', '9060', 'K070', 'K050', 'K060', 'B0N0', 'B010', 'B020', 'M0N0', 'M010', 'M020') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(563200, 11)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, ser, offset,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '30N0', '3050', '3060', '40N0', '4050', '4060', '9070', '9050', '9060', 'K070', 'K050', 'K060', 'B0N0', 'B010', 'B020', 'M0N0', 'M010', 'M020') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(844800, 11)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, ser, offset,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '30N0', '3050', '3060', '40N0', '4050', '4060', '9070', '9050', '9060', 'K070', 'K050', 'K060', 'B0N0', 'B010', 'B020', 'M0N0', 'M010', 'M020') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(1126400, 11)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, ser, offset,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '30N0', '3050', '3060', '40N0', '4050', '4060', '9070', '9050', '9060', 'K070', 'K050', 'K060', 'B0N0', 'B010', 'B020', 'M0N0', 'M010', 'M020') and pfcode not in ('9999', '99V6', '99V7') and band < 64

(1177088, 11)

,hddsn,testcode,qualifier,mfgid,hddtrial,lhd,phd,band,ser,offset,row_num
0,2FG0208A,PDQX083S,3060,KJ1C03,M1YP,1,10,46,-1.84,59,1
1,2FG0208A,PDQX083S,9060,KJ1C03,M1YP,1,10,46,-1.88,38,1
2,2FG0208A,PDQX083S,B0N0,KJ1C03,M1YP,0,9,62,-2.20,51,1
3,2FG0208A,PDQX083S,M0N0,KJ1C03,M1YP,1,10,49,-2.30,11,1
4,2FG0208A,PDQX083S,M0N0,KJ1C03,M1YP,1,10,60,-2.35,145,1
...,...,...,...,...,...,...,...,...,...,...,...
50683,2FA0B6BE,PDQX083S,B020,KKBC06,M1W3,0,9,51,-2.03,123,1
50684,2FA0B6DE,PDQX083S,2000,KKBC06,M1W3,1,10,51,-3.15,345,1
50685,2FA0B6DE,PDQX083S,3060,KKBC06,M1W3,0,9,52,-2.08,26,1
50686,2FA0B6DE,PDQX083S,4060,KKBC06,M1W3,1,10,55,-2.10,-36,1
50687,2FA0B6DE,PDQX083S,9060,KKBC06,M1W3,1,10,22,-1.80,-33,1

In [15]:
## Roller SER ##
inputParamGhl2SerRoller = [snlist_csv, 
                           listTestcode,
                           listEnddt, 
                           listHddTrial,
                           ['6600', '6800'],
                           ['9040', 'B000', 'K040', 'M000']
                          ]
dfSerRoller = get_ghl2_table('ccb_ci_ser', inputParamGhl2SerRoller, 
                       'hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, offset, \
                        aveperband, maxperband, minperband, rawmodulationstats0_average as aveperband0, rawmodulationstats0_max as maxperband0, rawmodulationstats0_min as minperband0, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num ',
                       'band < 64',
                       fName='df_ser_roller'
                      )
dfSerRoller

current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, offset,                         aveperband, maxperband, minperband, rawmodulationstats0_average as aveperband0, rawmodulationstats0_max as maxperband0, rawmodulationstats0_min as minperband0,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6600', '6800') and qualifier in ('9040', 'B000', 'K040', 'M000') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(800, 16)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, offset,                         aveperband, maxperband, minperband, rawmodulationstats0_average as aveperband0, rawmodulationstats0_max as maxperband0, rawmodulationstats0_min as minperband0,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6600', '6800') and qualifier in ('9040', 'B000', 'K040', 'M000') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(1600, 16)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, offset,                         aveperband, maxperband, minperband, rawmodulationstats0_average as aveperband0, rawmodulationstats0_max as maxperband0, rawmodulationstats0_min as minperband0,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6600', '6800') and qualifier in ('9040', 'B000', 'K040', 'M000') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(2400, 16)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, offset,                         aveperband, maxperband, minperband, rawmodulationstats0_average as aveperband0, rawmodulationstats0_max as maxperband0, rawmodulationstats0_min as minperband0,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6600', '6800') and qualifier in ('9040', 'B000', 'K040', 'M000') and pfcode not in ('9999', '99V6', '99V7') and band < 64
(3200, 16)
current sql is select hddsn, testcode, qualifier, mfgid, hddtrial, lhd, phd, band, offset,                         aveperband, maxperband, minperband, rawmodulationstats0_average as aveperband0, rawmodulationstats0_max as maxperband0, rawmodulationstats0_min as minperband0,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num  from ghl2.ccb_ci_ser where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6600', '6800') and qualifier in ('9040', 'B000', 'K040', 'M000') and pfcode not in ('9999', '99V6', '99V7') and band < 64

(3344, 16)

,hddsn,testcode,qualifier,mfgid,hddtrial,lhd,phd,band,offset,aveperband,maxperband,minperband,aveperband0,maxperband0,minperband0,row_num
0,2FG02BVA,PDQX083S,9040,KJ1C03,M1YP,0,9,0,-131,-0.965497,-0.902383,-1.123343,-0.96,-0.90,-1.12,1
1,2FG03LRA,PDQX083S,M000,KJ1C03,M1YP,0,9,0,257,-1.105714,-1.019223,-1.248728,-1.10,-1.01,-1.24,1
2,2FG0230A,PDQX083S,K040,KJ1C03,M1YP,1,10,0,19,-0.943666,-0.886837,-1.009793,-0.94,-0.88,-1.00,1
3,2FG025TA,PDQX083S,M000,KJ1C03,M1YP,0,9,0,-86,-1.030088,-0.955412,-1.094077,-1.03,-0.95,-1.09,1
4,2FG040GA,PDQX083S,B000,KJ1C03,M1YP,0,9,0,-92,-0.994340,-0.930864,-1.146026,-0.99,-0.93,-1.14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2FA0B5SE,PDQX083S,9040,KKBC06,M1W3,1,10,0,-156,-0.934896,-0.867675,-1.158441,-0.93,-0.86,-1.15,1
140,2FA0B5WE,PDQX083S,M000,KKBC06,M1W3,0,9,0,-162,-1.006501,-0.928346,-1.132067,-1.00,-0.92,-1.13,1
141,2FA0B5SE,PDQX083S,K040,KKBC06,M1W3,1,10,0,265,-0.916849,-0.854661,-1.052277,-0.91,-0.85,-1.05,1
142,2FA0B5WE,PDQX083S,K040,KKBC06,M1W3,1,10,0,-156,-0.912871,-0.865129,-0.966637,-0.91,-0.86,-0.96,1
143,2FA0B5YE,PDQX083S,M000,KKBC06,M1W3,0,9,0,-56,-0.935455,-0.864855,-1.022756,-0.93,-0.86,-1.02,1

In [16]:
## OW ##
inputParamGhl2Ow = [snlist_csv, 
                    listTestcode,
                    listEnddt, 
                    listHddTrial,
                    ['6400', '6600', '6800'],
                    ['11N0', '21N0', '31N0', '41N0', '91H0', 'K1H0', 'B0N0', 'M0N0']
                   ]
dfOw = get_ghl2_table('ccb_ci_ow', inputParamGhl2Ow, 
                      'hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, owvalperp, owvalmaxperp, owvalconv, owvalmaxconv, \
                       row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num',
                      'band < 3'
                     )
dfOw = pd.read_pickle('df_ccb_ci_ow.pkl').query("band < 3 and row_num==1")

current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, owvalperp, owvalmaxperp, owvalconv, owvalmaxconv,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ow where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400', '6600', '6800') and qualifier in ('11N0', '21N0', '31N0', '41N0', '91H0', 'K1H0', 'B0N0', 'M0N0') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(4800, 15)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, owvalperp, owvalmaxperp, owvalconv, owvalmaxconv,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ow where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400', '6600', '6800') and qualifier in ('11N0', '21N0', '31N0', '41N0', '91H0', 'K1H0', 'B0N0', 'M0N0') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(9600, 15)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, owvalperp, owvalmaxperp, owvalconv, owvalmaxconv,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ow where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400', '6600', '6800') and qualifier in ('11N0', '21N0', '31N0', '41N0', '91H0', 'K1H0', 'B0N0', 'M0N0') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(14400, 15)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, owvalperp, owvalmaxperp, owvalconv, owvalmaxconv,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ow where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400', '6600', '6800') and qualifier in ('11N0', '21N0', '31N0', '41N0', '91H0', 'K1H0', 'B0N0', 'M0N0') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(19200, 15)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, owvalperp, owvalmaxperp, owvalconv, owvalmaxconv,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ow where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400', '6600', '6800') and qualifier in ('11N0', '21N0', '31N0', '41N0', '91H0', 'K1H0', 'B0N0', 'M0N0') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(20064, 15)

In [17]:
## PBO ##
inputParamGhl2Ow = [snlist_csv, 
                    listTestcode,
                    listEnddt, 
                    listHddTrial,
                    ['6400'],
                    ['3070', '4070']
                   ]
dfPbo = get_ghl2_table('ccb_mi_pbo', inputParamGhl2Ow, 
                      'hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, mRwSerPerRWNmSlope, mRwSerPerRWDacOffset, \
                       row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num',
                      'band = 0 '
                     )
dfPbo

current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, mRwSerPerRWNmSlope, mRwSerPerRWDacOffset,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_mi_pbo where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400') and qualifier in ('3070', '4070') and pfcode not in ('9999', '99V6', '99V7') and band = 0
(400, 13)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, mRwSerPerRWNmSlope, mRwSerPerRWDacOffset,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_mi_pbo where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400') and qualifier in ('3070', '4070') and pfcode not in ('9999', '99V6', '99V7') and band = 0
(800, 13)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, mRwSerPerRWNmSlope, mRwSerPerRWDacOffset,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_mi_pbo where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400') and qualifier in ('3070', '4070') and pfcode not in ('9999', '99V6', '99V7') and band = 0
(1200, 13)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, mRwSerPerRWNmSlope, mRwSerPerRWDacOffset,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_mi_pbo where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400') and qualifier in ('3070', '4070') and pfcode not in ('9999', '99V6', '99V7') and band = 0
(1600, 13)
current sql is select hddsn, enddt, pfcode, mfgid, hddtrial, testcode, qualifier, lhd, phd, band, mRwSerPerRWNmSlope, mRwSerPerRWDacOffset,                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_mi_pbo where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400') and qualifier in ('3070', '4070') and pfcode not in ('9999', '99V6', '99V7') and band = 0
(1672, 13)

,hddsn,enddt,pfcode,mfgid,hddtrial,testcode,qualifier,lhd,phd,band,mRwSerPerRWNmSlope,mRwSerPerRWDacOffset,row_num
0,2FG023AA,20201226,0000,KJ1C03,M1YP,PDQX083S,3070,1,10,0,252.26671,-224.36795,1
1,2FG038WA,20201226,0000,KJBC03,M1YQ,PDQX083S,4070,1,10,0,224.22638,-232.82230,1
2,2FG02LAA,20201226,0000,KJ1C03,M1YP,PDQX083S,4070,1,10,0,138.52365,-218.61266,1
3,2FG03R9A,20201226,0000,KJ1C03,M1YP,PDQX083S,3070,0,9,0,292.10333,-217.12780,1
4,2FG03PTA,20201226,0000,KJ1C03,M1YP,PDQX083S,3070,0,9,0,320.76367,-221.16412,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2FA0B5YE,20201226,0000,KKBC06,M1W3,PDQX083S,3070,1,10,0,281.68597,-202.19998,1
68,2FA0B66E,20201226,0000,KKBC06,M1W3,PDQX083S,4070,0,9,0,181.12500,-221.50734,1
69,2FA0B64E,20201226,0000,KKBC06,M1W3,PDQX083S,3070,1,10,0,524.54346,-234.35408,1
70,2FA0B5SE,20201226,0000,KKBC06,M1W3,PDQX083S,3070,0,9,0,426.11570,-215.29958,1
71,2FA0B61E,20201226,0000,KKBC06,M1W3,PDQX083S,3070,0,9,0,433.07490,-218.53142,1

In [18]:
#TSW2 spec
# 0.0457 * OWC_Worst + 904_ser_roller_max + (0.16+0.194)*u407_rwser_rw_slp_nm_od*1e-3 > -1.5537
#TSWH spec
# 0.0065 * OWC_Worst + k04_ser_roller_max + (0.16+0.194)*u407_rwser_rw_slp_nm_od*1e-3 > -0.66903
coef = [0.0457, 0.0065];      #CMR, SMR
thresh = [-1.5537, -1.6286, -0.66903, -0.68404]; #CMR for SRST, CMR for Final, SMR for SRST, SMR for Final
dfh4S  = 0.16+0.194;     #nm, for SRST
dfh4F  = 0.324;          #nm, for Final

#OW
dfOw = pd.read_pickle('df_ccb_ci_ow.pkl').query("row_num==1 and band==0")
dfOw.loc[:,'firstQual'] = get_nth_char(list(dfOw.qualifier), index=0)
#SER
dfSer = pd.read_pickle('df_ser_roller.pkl').query("row_num==1 and band==0")
dfSer.loc[:,'firstQual'] = get_nth_char(list(dfSer.qualifier), index=0)
#Pbo
dfPbo = pd.read_pickle('df_ccb_mi_pbo.pkl').query("row_num==1 and band==0")

dfTsw = dfOw.query("band==0 and qualifier in ['91H0', 'K1H0', 'B0N0', 'M0N0']").merge(dfSer.query("qualifier in ['9040', 'K040', 'B000', 'M000']"), 
                                                                   left_on =['hddsn', 'mfgid','hddtrial', 'testcode', 'firstQual', 'lhd', 'phd', 'band', 'row_num'],
                                                                   right_on=['hddsn', 'mfgid','hddtrial', 'testcode', 'firstQual', 'lhd', 'phd', 'band', 'row_num'],
                                                                   suffixes=['_ow', '_ser'],
                                                                   how='inner'
                                                                  )
dfTsw=dfTsw.merge(dfPbo,
                  left_on =['hddsn', 'mfgid','hddtrial', 'testcode', 'lhd', 'phd', 'band', 'row_num'],
                  right_on=['hddsn', 'mfgid','hddtrial', 'testcode', 'lhd', 'phd', 'band', 'row_num'],
                  suffixes=['', '_pbo'],
                  how='left'
                 )

#ser with dfh
#SRST
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('9') | dfTsw.qualifier_ser.str.startswith('K'), 'dfh'] = dfh4S
#Final
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('B') | dfTsw.qualifier_ser.str.startswith('M'), 'dfh'] = dfh4F
dfTsw.loc[:,'ser_for_tsw_metric'] = dfTsw.loc[:,'maxperband'].values + dfTsw.loc[:,'mRwSerPerRWNmSlope'].values*dfTsw.loc[:,'dfh'].values*1e-3

#coef
#CMR
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('9') | dfTsw.qualifier_ser.str.startswith('B'),'coef'] = coef[0]
#SMR
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('K') | dfTsw.qualifier_ser.str.startswith('M'),'coef'] = coef[1]

#spec threshold
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('9'), 'thresh'] = thresh[0]
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('B'), 'thresh'] = thresh[1]
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('K'), 'thresh'] = thresh[2]
dfTsw.loc[dfTsw.qualifier_ser.str.startswith('M'), 'thresh'] = thresh[3]

#TSW Metric
dfTsw.loc[:,'tsw_metric'] = dfTsw.loc[:,'owvalmaxconv'].values * dfTsw.loc[:,'coef'].values + dfTsw.loc[:,'ser_for_tsw_metric'].values

dfTsw.to_pickle('dfTsw.pkl')
dfTsw.to_csv('dfTsw.csv')

dfTsw

,hddsn,enddt,pfcode,mfgid,hddtrial,testcode,qualifier_ow,lhd,phd,band,...,enddt_pbo,pfcode_pbo,qualifier,mRwSerPerRWNmSlope,mRwSerPerRWDacOffset,dfh,ser_for_tsw_metric,coef,thresh,tsw_metric
0,2FG03PXA,20201229,0000,KJ1C03,M1YP,PDQX083S,M0N0,0,9,0,...,20201226,0000,4070,227.322420,-214.66205,0.324,-0.799336,0.0065,-0.68404,-0.995766
1,2FG03PXA,20201229,0000,KJ1C03,M1YP,PDQX083S,M0N0,0,9,0,...,20201226,0000,3070,354.217960,-219.21480,0.324,-0.758222,0.0065,-0.68404,-0.954652
2,2FG03PSA,20201228,0000,KJ1C03,M1YP,PDQX083S,91H0,0,9,0,...,20201226,0000,4070,316.656830,-222.52956,0.354,-0.792277,0.0457,-1.55370,-2.091528
3,2FG03PSA,20201228,0000,KJ1C03,M1YP,PDQX083S,91H0,0,9,0,...,20201226,0000,3070,346.563320,-223.26505,0.354,-0.781690,0.0457,-1.55370,-2.080941
4,2FG03RLA,20201228,0000,KJ1C03,M1YP,PDQX083S,91H0,0,9,0,...,20201226,0000,4070,281.334530,-228.16612,0.354,-0.824356,0.0457,-1.55370,-2.333370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6683,2FA0B64E,20201229,0000,KKBC06,M1W3,PDQX083S,B0N0,0,9,0,...,20201226,0000,4070,182.835590,-226.82635,0.324,-0.851956,0.0457,-1.62860,-2.316184
6684,2FA0B6AE,20201228,0000,KKBC06,M1W3,PDQX083S,91H0,0,9,0,...,20201226,0000,4070,142.078720,-213.64340,0.354,-0.898735,0.0457,-1.55370,-2.466702
6685,2FA0B6AE,20201228,0000,KKBC06,M1W3,PDQX083S,91H0,0,9,0,...,20201226,0000,3070,328.166230,-222.25253,0.354,-0.832860,0.0457,-1.55370,-2.400827
6686,2FA0B65E,20201228,0000,KKBC06,M1W3,PDQX083S,K1H0,0,9,0,...,20201226,0000,3070,337.599900,-220.03195,0.354,-0.770680,0.0065,-0.66903,-0.967825
6687,2FA0B65E,20201228,0000,KKBC06,M1W3,PDQX083S,K1H0,0,9,0,...,20201226,0000,4070,122.466934,-228.40283,0.354,-0.846837,0.0065,-0.66903,-1.043982

# RSBN

In [19]:
## RSBN ##

inputParamGhl2Rsbn = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400'],
                      ['1000', '2010']
                     ]
dfRsbn = get_ghl2_table('ccb_ci_crsbn_datareader', inputParamGhl2Rsbn, 
                        'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, phd, lhd, readerindex, datardrs, pridatardr, \
                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, readerindex order by enddate desc) as row_num',
                        'readerindex < 64'
                       )
dfRsbn = pd.read_pickle('df_ccb_ci_crsbn_datareader.pkl')
dfRsbn.loc[:,'datardrs']   = dfRsbn.loc[:,'datardrs'].values.astype(np.int64)
dfRsbn.loc[:,'pridatardr'] = dfRsbn.loc[:,'pridatardr'].values.astype(np.int64)
dfRsbnFlat = pd.pivot_table(dfRsbn.query("readerindex<64 and row_num==1"), 
                            index=['hddsn', 'mfgid', 'testcode', 'lhd', 'phd'], 
                            columns=['qualifier', 'readerindex'], 
                            values=['datardrs', 'pridatardr'], 
                            aggfunc=np.sum).reset_index(drop=False)
cols = [x[0] for x in list(dfRsbnFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfRsbnFlat.columns)[5:]]
dfRsbnFlat.columns = cols
dfRsbnFlat.to_pickle('dfRsbnFlat.pkl')
dfRsbnFlat

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, phd, lhd, readerindex, datardrs, pridatardr,                          row_number() over ( partition by hddsn, testcode, qualifier, lhd, readerindex order by enddate desc) as row_num from ghl2.ccb_ci_crsbn_datareader where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('1000', '2010') and pfcode not in ('9999', '99V6', '99V7') and readerindex < 64
(3584, 12)

,hddsn,mfgid,testcode,lhd,phd,datardrs_1000_0,datardrs_1000_1,datardrs_1000_2,datardrs_1000_3,datardrs_1000_4,...,pridatardr_2010_54,pridatardr_2010_55,pridatardr_2010_56,pridatardr_2010_57,pridatardr_2010_58,pridatardr_2010_59,pridatardr_2010_60,pridatardr_2010_61,pridatardr_2010_62,pridatardr_2010_63
0,2FA00WRA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1,2FA00WRA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
2,2FA01E4A,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
3,2FA01E4A,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
4,2FA01EHA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
5,2FA01EHA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
6,2FA02DKA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
7,2FA02DKA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
8,2FA02DNA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
9,2FA02DNA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
10,2FA02E8A,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
11,2FA02E8A,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
12,2FA02EAA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
13,2FA02EAA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
14,2FA02EUA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
15,2FA02EUA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
16,2FA06EXA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,1,1,1,1,1,1,1,1,1,1
17,2FA06EXA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
18,2FA06G3A,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
19,2FA06G3A,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,1,1,1,1,1,1,1,1,1,1
20,2FA06G5A,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
21,2FA06G5A,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
22,2FA06GNA,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
23,2FA06GNA,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
24,2FA06H1A,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
25,2FA06H1A,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
26,2FA06H4A,KJ1C03,PDQX083M,0,9,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
27,2FA06H4A,KJ1C03,PDQX083M,1,10,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0

In [20]:
## MCW ##
inputParamGhl2Mcw = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400'],
                      ['10N0', '2300']
                     ]
dfMcw = get_ghl2_table('ccb_ci_mcw', inputParamGhl2Mcw, 
                        'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, mcw, mcw_smr, \
                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num')
dfMcw = pd.read_pickle('df_ccb_ci_mcw.pkl').query("row_num==1")
dfMcw.loc[:,'mcw_nm']     = dfMcw.loc[:,'mcw'].values     * (1/100*25.4/dtpi_cmr*1e3)
dfMcw.loc[:,'mcw_smr_nm'] = dfMcw.loc[:,'mcw_smr'].values * (1/4096*25.4/dtpi_smr*1e3)
dfMcw.to_pickle('dfMcw.pkl')
dfMcw

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, mcw, mcw_smr,                          row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_mcw where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('10N0', '2300') and pfcode not in ('9999', '99V6', '99V7')
(280, 12)

,hddsn,pfcode,testcode,mfgid,hddtrial,qualifier,band,phd,lhd,mcw,mcw_smr,row_num,mcw_nm,mcw_smr_nm
0,2FA06G3A,0000,PDQX083M,KJ1C03,NPIF,2300,6,10,1,0.000000,5698,1,0.000000,58.694813
1,2FA06H1A,0000,PDQX083M,KJ1C03,NPIF,2300,0,9,0,0.000000,5643,1,0.000000,58.128261
2,2FA02EAA,0000,PDQX083M,KJ1C03,Z07E,2300,4,9,0,0.000000,6951,1,0.000000,71.601903
3,2FA02DNA,0000,PDQX083M,KJ1C03,Z07E,2300,3,9,0,0.000000,6549,1,0.000000,67.460921
4,2FA06H1A,0000,PDQX083M,KJ1C03,NPIF,10N0,2,9,0,112.646484,0,1,57.224414,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2FA02EAA,0000,PDQX083M,KJ1C03,Z07E,2300,4,10,1,0.000000,6347,1,0.000000,65.380129
276,2FA02DNA,0000,PDQX083M,KJ1C03,Z07E,10N0,2,10,1,142.919922,0,1,72.603320,0.000000
277,2FA01E4A,0000,PDQX083M,KJ1C03,Z07E,2300,3,10,1,0.000000,6859,1,0.000000,70.654216
278,2FA02EAA,0000,PDQX083M,KJ1C03,Z07E,2300,5,9,0,0.000000,6865,1,0.000000,70.716021
279,2FA01E4A,0000,PDQX083M,KJ1C03,Z07E,2300,0,9,0,0.000000,6942,1,0.000000,71.509195

In [21]:
## MRW/MWW ##
inputParamGhl2Mrw = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400'],
                      ['1000', '1010', '2000', '2010']
                     ]
dfMrw = get_ghl2_table('ccb_ci_mrw', inputParamGhl2Mrw, 
                       'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, mrw, mww, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num',
                       'band < 3'
                      )
dfMrw = pd.read_pickle('df_ccb_ci_mrw.pkl').query("row_num==1")
dfMrw.loc[dfMrw.qualifier.str.startswith('1'), 'scale'] = 1/100*25.4/dtpi_cmr*1e3
dfMrw.loc[dfMrw.qualifier.str.startswith('2'), 'scale'] = 1/100*25.4/dtpi_smr*1e3
dfMrw.loc[:,'mrw_nm'] = dfMrw.loc[:,'mrw'].values * dfMrw.loc[:, 'scale'].values
dfMrw.loc[:,'mww_nm'] = dfMrw.loc[:,'mww'].values * dfMrw.loc[:, 'scale'].values
dfMrw.to_pickle('dfMrw.pkl')
dfMrw

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, mrw, mww,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_mrw where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('1000', '1010', '2000', '2010') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(336, 12)

,hddsn,pfcode,testcode,mfgid,hddtrial,qualifier,band,phd,lhd,mrw,mww,row_num,scale,mrw_nm,mww_nm
0,2FA06H1A,0000,PDQX083M,KJ1C03,NPIF,1010,0,10,1,55.307804,92.681020,1,0.508000,28.096364,47.081958
1,2FA06G3A,0000,PDQX083M,KJ1C03,NPIF,2000,1,10,1,61.486740,111.264400,1,0.421927,25.942910,46.945445
2,2FA02EAA,0000,PDQX083M,KJ1C03,Z07E,1000,1,10,1,54.350300,104.640390,1,0.508000,27.609952,53.157318
3,2FA06EXA,0000,PDQX083M,KJ1C03,NPIF,1010,0,10,1,56.898594,91.303220,1,0.508000,28.904486,46.382036
4,2FA06EXA,0000,PDQX083M,KJ1C03,NPIF,1010,1,10,1,54.601130,86.232880,1,0.508000,27.737374,43.806303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,2FA02DNA,0000,PDQX083M,KJ1C03,Z07E,1000,1,10,1,50.104477,114.481094,1,0.508000,25.453074,58.156396
332,2FA02EUA,0000,PDQX083M,KJ1C03,Z07E,1010,1,9,0,56.639183,107.259010,1,0.508000,28.772705,54.487577
333,2FA06G5A,0000,PDQX083M,KJ1C03,NPIF,2000,1,9,0,61.759230,109.994650,1,0.421927,26.057881,46.409703
334,2FA06GNA,0000,PDQX083M,KJ1C03,NPIF,1010,2,9,0,50.711740,93.048300,1,0.508000,25.761564,47.268536
335,2FA02DNA,0000,PDQX083M,KJ1C03,Z07E,2000,0,9,0,61.850464,141.232160,1,0.421927,26.096375,59.589649

In [22]:
## AMP ##
inputParamGhl2Amp = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400', '6600', '6800'],
                      ['1000', '1010', '2000', '2010', 
                       '3000', '3010', '4000', '4010', 
                       '9000', '9010', 'K000', 'K010',
                       'B000', 'B010', 'M000', 'M010' 
                      ]
                     ]
dfAmp = get_ghl2_table('ccb_ci_amp', 
                       inputParamGhl2Amp, 
                       #'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, MRResistance, InputImpedance, SelectReaderGain, CalcedAeGain, AeGainCompensation_ResolutionAVG, AeGainCompensation_Amplitude1AVG, AeGainCompensation_Amplitude2AVG ')
                       'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, AeGainCompensation_ResolutionAVG as res, AeGainCompensation_Amplitude1AVG as amp2t, AeGainCompensation_Amplitude2AVG as amp10t, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num',
                       'band < 3'
                      )
dfAmp = pd.read_pickle('df_ccb_ci_amp.pkl')
dfAmpFlat = pd.pivot_table(dfAmp.query("band<3 and row_num==1"), 
                           index=['hddsn', 'mfgid', 'testcode', 'lhd', 'phd'], 
                           columns=['qualifier', 'band'], 
                           values=['res', 'amp2t', 'amp10t'], 
                           aggfunc=np.sum).reset_index(drop=False)
cols = [x[0] for x in list(dfAmpFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfAmpFlat.columns)[5:]]
dfAmpFlat.columns = cols
dfAmpFlat

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, AeGainCompensation_ResolutionAVG as res, AeGainCompensation_Amplitude1AVG as amp2t, AeGainCompensation_Amplitude2AVG as amp10t,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_amp where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '3000', '3010', '4000', '4010', '9000', '9010', 'K000', 'K010', 'B000', 'B010', 'M000', 'M010') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(1272, 13)

,hddsn,mfgid,testcode,lhd,phd,amp10t_1000_0,amp10t_1000_1,amp10t_1000_2,amp10t_1010_0,amp10t_1010_1,...,res_K000_2,res_K010_0,res_K010_1,res_K010_2,res_M000_0,res_M000_1,res_M000_2,res_M010_0,res_M010_1,res_M010_2
0,2FA00WRA,KJ1C03,PDQX083M,0,9,20.011290,20.740272,20.950719,30.569435,31.429739,...,46.121704,44.726101,37.911039,43.326862,46.834468,39.718455,47.502428,46.066680,38.779093,43.408444
1,2FA00WRA,KJ1C03,PDQX083M,1,10,25.200090,25.857309,24.655482,35.816331,36.955762,...,43.724431,46.132272,39.188333,42.238581,47.785332,41.285601,45.270483,45.923709,40.395768,43.473313
2,2FA01E4A,KJ1C03,PDQX083M,0,9,39.044141,41.294220,40.308202,37.001082,37.648768,...,44.648675,57.536523,43.010221,45.599423,57.844004,42.990452,44.857229,58.901323,43.790418,45.202265
3,2FA01E4A,KJ1C03,PDQX083M,1,10,23.577393,23.896757,24.377660,29.754934,30.291816,...,40.599038,46.728598,43.781748,43.575476,50.704032,41.373377,43.264144,47.656077,41.337828,42.039125
4,2FA01EHA,KJ1C03,PDQX083M,0,9,35.122501,35.713549,36.125898,14.590731,15.467241,...,47.052758,43.430076,37.959030,41.732016,48.762997,43.076186,47.295016,44.173342,38.817748,41.974056
5,2FA01EHA,KJ1C03,PDQX083M,1,10,40.824861,41.798014,40.372285,34.962966,34.383597,...,43.265971,48.856020,42.190053,43.511823,47.279141,41.558542,41.188629,48.445649,42.121875,40.870270
6,2FA02DKA,KJ1C03,PDQX083M,0,9,31.624529,32.380200,30.705867,20.717694,22.349174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2FA02DKA,KJ1C03,PDQX083M,1,10,41.285485,41.909585,42.105861,26.134887,26.275317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2FA02DNA,KJ1C03,PDQX083M,0,9,33.896105,34.857945,35.386386,30.010589,30.590788,...,46.895321,45.968132,40.422952,45.775785,50.817482,43.474568,46.329027,46.690010,40.112550,45.089957
9,2FA02DNA,KJ1C03,PDQX083M,1,10,40.301497,40.983026,39.426756,21.976225,21.640100,...,46.797104,44.286760,40.531783,42.118894,52.932821,48.234023,46.158332,45.040527,42.011879,41.272557
10,2FA02E8A,KJ1C03,PDQX083M,0,9,42.626809,42.995836,42.365956,39.756201,39.419829,...,49.277132,46.207926,36.254904,42.659608,52.719369,43.223934,49.959769,45.712195,36.204501,42.812233
11,2FA02E8A,KJ1C03,PDQX083M,1,10,37.829227,38.350486,37.495028,22.832867,23.420798,...,51.588999,50.631408,41.417178,47.726430,57.391558,50.441515,50.538404,50.898808,42.026270,45.123120
12,2FA02EAA,KJ1C03,PDQX083M,0,9,19.954822,20.150258,19.564475,31.124244,32.469307,...,43.245794,45.738136,39.853475,49.655511,44.156204,39.841074,44.547349,43.543404,39.645225,42.020199
13,2FA02EAA,KJ1C03,PDQX083M,1,10,32.290931,32.935431,32.811909,23.795492,23.750466,...,41.948450,44.756512,41.478552,42.392773,46.243458,40.571838,43.100332,46.052988,41.864427,43.063866
14,2FA02EUA,KJ1C03,PDQX083M,0,9,29.420006,29.694240,28.551118,32.610099,33.212927,...,45.491348,48.101120,42.501943,48.891666,49.369291,42.506011,47.297990,49.994441,43.492115,50.366656
15,2FA02EUA,KJ1C03,PDQX083M,1,10,27.419940,27.273097,26.143384,26.256379,26.577893,...,44.162948,43.757871,42.486460,43.453951,45.469509,42.362879,43.375959,44.425713,43.957029,44.723720
16,2FA06EXA,KJ1C03,PDQX083M,0,9,15.315769,16.225468,15.626184,19.603324,20.360152,...,43.088437,44.942222,39.106386,42.882584,45.811051,40.739381,43.087392,45.397430,41.378369,42.962687
17,2FA06EXA,KJ1C03,PDQX083M,1,10,20.536093,20.614041,19.493139,17.243272,17.233297,...,46.041455,57.367384,48.985647,50.286500,46.609243,41.744468,46.371985,57.434740,49.650021,51.238724
18,2FA06G3A,KJ1C03,PDQX083M,0,9,42.588384,44.071202,41.637953,17.375295,18.198741,...,53.973043,50.513538,40.080283,52.130728,56.894274,49.096079,54.100736,51.133813,41.994008,52.029287
19,2FA06G3A,KJ1C03,PDQX083M,1,10,22.335441,22.588510,21.319069,22.803687,22.856305,...,42.889535,44.429159,43.354909,39.784698,45.789722,44.878126,43.456691,45.661776,44.040244,40.615644
20,2FA06G5A,KJ1C03,PDQX083M,0,9,29.423377,29.873398,29.742156,16.833609,17.677784,...,48.898495,42.304244,37.832897,45.978433,48.258246,42.105931,50.405809,42.523321,38.398499,46.241938
21,2FA06G5A,KJ1C03,PDQX083M,1,10,29.807119,31.296568,28.725969,23.143796,24.083608,...,47.480836,44.609599,39.051676,45.717407,50.027840,44.782969,49.201586,44.777282,39.290257,45.818347
22,2FA06GNA,KJ1C03,PDQX083M,0,9,33.086165,34.139521,32.940728,10.640910,11.014362,...,48.284522,52.517595,42.092169,46.834998,54.194914,47.266588,50.198588,53.676572,43.394413,47.980858
23,2FA06GNA,KJ1C03,PDQX083M,1,10,29.096069,29.923595,29.751057,20.421122,20.482339,...,50.376110,46.990355,43.486149,47.792476,49.555162,47.835555,50.436489,46.056588,43.027206,47.795734
24,2FA06H1A,KJ1C03,PDQX083M,0,9,31.802841,32.341163,30.503001,13.778237,14.417393,...,52.854904,41.149698,33.228173,42.237015,56.236201,44.022377,53.269599,41.277785,33.576049,43.117101
25,2FA06H1A,KJ1C03,PDQX083M,1,10,25.932717,26.129848,24.972453,20.739345,20.749770,...,44.398879,46.241554,41.611880,43.941614,49.423790,43.339685,44.512296,45.252798,42.118727,44.408225
26,2FA06H4A,KJ1C03,PDQX083M,0,9,32.482781,34.725273,32.443045,18.517699,19.205892,...,44.611255,47.944791,39.507417,45.991891,49.869545,40.434847,45.751828,48.484019,42.051901,46.183583
27,2FA06H4A,KJ1C03,PDQX083M,1,10,30.286217,30.771274,28.443106,19.319698,19.304984,...,44.681805,42.802043,38.259807,39.120390,51.189626,42.935196,45.025567,45.154605,37.676310,38.457282

In [23]:
## Asym ##

inputParamGhl2Asym = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400', '6600', '6800'],
                      ['1000', '1010', '2000', '2010',
                       '3000', '3010', '4000', '4010', 
                       '9000', '9010', 'K000', 'K010',
                       'B000', 'B010', 'M000', 'M010'
                      ]
                     ]
dfAsym = get_ghl2_table('ccb_ci_asm', 
                       inputParamGhl2Asym, 
                       'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, asymmetry, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num',
                       'band < 3'
                       )
"""
dfAsym = pd.read_pickle('df_ccb_ci_asm.pkl')
dfAsymFlat = pd.pivot_table(dfAsym.query("band<3 and row_num==1"), 
                           index=['hddsn', 'mfgid', 'testcode', 'lhd', 'phd'], 
                           columns=['qualifier', 'band'], 
                           values=['asymmetry'], 
                           aggfunc=np.sum).reset_index(drop=False)
cols = [x[0] for x in list(dfAsymFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfAsymFlat.columns)[5:]]
dfAsymFlat.columns = cols
dfAsymFlat
"""

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, asymmetry,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_asm where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '3000', '3010', '4000', '4010', '9000', '9010', 'K000', 'K010', 'B000', 'B010', 'M000', 'M010') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(1272, 11)

'\ndfAsym = pd.read_pickle(\'df_ccb_ci_asm.pkl\')\ndfAsymFlat = pd.pivot_table(dfAsym.query("band<3 and row_num==1"), \n                           index=[\'hddsn\', \'mfgid\', \'testcode\', \'lhd\', \'phd\'], \n                           columns=[\'qualifier\', \'band\'], \n                           values=[\'asymmetry\'], \n                           aggfunc=np.sum).reset_index(drop=False)\ncols = [x[0] for x in list(dfAsymFlat.columns)[:5]]+[str(x[0])+\'_\'+str(x[1])+\'_\'+str(x[2]) for x in list(dfAsymFlat.columns)[5:]]\ndfAsymFlat.columns = cols\ndfAsymFlat\n'

In [24]:
## RWIP ##

inputParamGhl2Rwip = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400', '6600', '6800'],
                      ['1000', '1010', '2000', '2010', 
                       '3000', '3010', '4000', '4010', 
                       '9000', '9010', 'K000', 'K010',
                       'B000', 'B010', 'M000', 'M010'
                      ]
                     ]
dfRwip = get_ghl2_table('ccb_ci_rwip', 
                        inputParamGhl2Rwip, 
                       'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, snrtotal, snrsystem, snrmedia, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num',
                        'band < 3'
                       )
"""
dfRwip = pd.read_pickle('df_ccb_ci_rwip.pkl').astype({'snrtotal': 'float64', 'snrsystem': 'float64', 'snrmedia': 'float64'})
dfRwipFlat = pd.pivot_table(dfRwip.query("band<3 and row_num==1"), 
                           index=['hddsn', 'mfgid', 'testcode', 'lhd', 'phd'], 
                           columns=['qualifier', 'band'], 
                           values=['snrtotal', 'snrsystem', 'snrmedia'], 
                           aggfunc=np.sum).reset_index(drop=False)
cols = [x[0] for x in list(dfRwipFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfRwipFlat.columns)[5:]]
dfRwipFlat.columns = cols
dfRwipFlat
"""

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, band, phd, lhd, snrtotal, snrsystem, snrmedia,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_rwip where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400', '6600', '6800') and qualifier in ('1000', '1010', '2000', '2010', '3000', '3010', '4000', '4010', '9000', '9010', 'K000', 'K010', 'B000', 'B010', 'M000', 'M010') and pfcode not in ('9999', '99V6', '99V7') and band < 3
(1272, 13)

'\ndfRwip = pd.read_pickle(\'df_ccb_ci_rwip.pkl\').astype({\'snrtotal\': \'float64\', \'snrsystem\': \'float64\', \'snrmedia\': \'float64\'})\ndfRwipFlat = pd.pivot_table(dfRwip.query("band<3 and row_num==1"), \n                           index=[\'hddsn\', \'mfgid\', \'testcode\', \'lhd\', \'phd\'], \n                           columns=[\'qualifier\', \'band\'], \n                           values=[\'snrtotal\', \'snrsystem\', \'snrmedia\'], \n                           aggfunc=np.sum).reset_index(drop=False)\ncols = [x[0] for x in list(dfRwipFlat.columns)[:5]]+[str(x[0])+\'_\'+str(x[1])+\'_\'+str(x[2]) for x in list(dfRwipFlat.columns)[5:]]\ndfRwipFlat.columns = cols\ndfRwipFlat\n'

# AIw

In [23]:
#AIw
inputParamGhl2AIw = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400'],
                      ['10N0', '11N0', '30N0', '20N0', '40N0']
                     ]
dfAIw = get_ghl2_table('ccb_ci_aiw_summary', 
                        inputParamGhl2AIw, 
                       'hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection, \
                        cmdexecutiontimeinmilliseconds as time, band, cylinder, meastemp, \
                        writecurrent as iw, kickamplitude as ka, kickduration as kd, bestser, readoffset, enddt, \
                        row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num'
                       )
dfAIw.loc[:,'mfgid_5'] = dfAIw['mfgid_5'].values.astype('int')
#Gen4
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_a'] = -0.013954886
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_b'] = 1.128161219
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_c'] = 1.973010793
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_d'] = -1.407847328
#Gen4i A1
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_a'] = -0.015470889
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_b'] = 1.684161818
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_c'] = 1.335027916
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_d'] = 0.387637386

dfAIw.loc[:,'ipk'] = ((dfAIw.loc[:,'coef_a'].values * dfAIw.loc[:,'ka'].values + dfAIw.loc[:,'coef_b'].values) * dfAIw.loc[:,'iw'].values +
                      (dfAIw.loc[:,'coef_c'].values * dfAIw.loc[:,'ka'].values + dfAIw.loc[:,'coef_d'].values)
                     )
dfAIw.to_pickle('dfAIw.pkl')
dfAIw

current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         cmdexecutiontimeinmilliseconds as time, band, cylinder, meastemp,                         writecurrent as iw, kickamplitude as ka, kickduration as kd, bestser, readoffset, enddt,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_aiw_summary where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0', '20N0', '40N0') and pfcode not in ('9999', '99V6', '99V7')
(7200, 22)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         cmdexecutiontimeinmilliseconds as time, band, cylinder, meastemp,                         writecurrent as iw, kickamplitude as ka, kickduration as kd, bestser, readoffset, enddt,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_aiw_summary where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0', '20N0', '40N0') and pfcode not in ('9999', '99V6', '99V7')
(14400, 22)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         cmdexecutiontimeinmilliseconds as time, band, cylinder, meastemp,                         writecurrent as iw, kickamplitude as ka, kickduration as kd, bestser, readoffset, enddt,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_aiw_summary where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0', '20N0', '40N0') and pfcode not in ('9999', '99V6', '99V7')
(21600, 22)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         cmdexecutiontimeinmilliseconds as time, band, cylinder, meastemp,                         writecurrent as iw, kickamplitude as ka, kickduration as kd, bestser, readoffset, enddt,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_aiw_summary where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0', '20N0', '40N0') and pfcode not in ('9999', '99V6', '99V7')
(28800, 22)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         cmdexecutiontimeinmilliseconds as time, band, cylinder, meastemp,                         writecurrent as iw, kickamplitude as ka, kickduration as kd, bestser, readoffset, enddt,                         row_number() over ( partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_aiw_summary where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0', '20N0', '40N0') and pfcode not in ('9999', '99V6', '99V7')

(30096, 22)

,hddsn,enddate,pfcode,testcode,mfgid,mfgid_5,hddtrial,qualifier,lhd,phd,...,kd,bestser,readoffset,enddt,row_num,coef_a,coef_b,coef_c,coef_d,ipk
0,2FG02HRA,20201226141442,0000,PDQX083S,KJ1C03,3,M1YP,11N0,1,10,...,4,-1.68,0.49,20201226,1,-0.013955,1.128161,1.973011,-1.407847,87.577877
1,2FG02J2A,20201226141737,0000,PDQX083S,KJ1C03,3,M1YP,10N0,1,10,...,4,-2.84,-0.57,20201226,1,-0.013955,1.128161,1.973011,-1.407847,89.674298
2,2FG03H1A,20201226153757,0000,PDQX083S,KJBC03,3,M1YQ,30N0,0,9,...,4,-2.18,0.93,20201226,1,-0.013955,1.128161,1.973011,-1.407847,78.161719
3,2FG03S8A,20201226134149,0000,PDQX083S,KJ1C03,3,M1YP,11N0,0,9,...,4,-1.67,0.01,20201226,1,-0.013955,1.128161,1.973011,-1.407847,84.744033
4,2FG03V1A,20201226142501,0000,PDQX083S,KJ1C03,3,M1YP,20N0,1,10,...,4,-3.34,-5.01,20201226,1,-0.013955,1.128161,1.973011,-1.407847,86.882318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,2FA0B5WE,20201226165847,0000,PDQX083S,KKBC06,6,M1W3,40N0,1,10,...,7,-2.15,0.12,20201226,1,-0.015471,1.684162,1.335028,0.387637,79.479600
1292,2FA0B5XE,20201226152517,0000,PDQX083S,KKBC06,6,M1W3,10N0,1,10,...,8,-3.15,-0.03,20201226,1,-0.015471,1.684162,1.335028,0.387637,81.999478
1293,2FA0B5YE,20201226153010,0000,PDQX083S,KKBC06,6,M1W3,11N0,1,10,...,6,-1.75,-0.24,20201226,1,-0.015471,1.684162,1.335028,0.387637,87.039235
1294,2FA0B5XE,20201226152517,0000,PDQX083S,KKBC06,6,M1W3,30N0,0,9,...,6,-2.05,-0.95,20201226,1,-0.015471,1.684162,1.335028,0.387637,87.879194
1295,2FA0B5ZE,20201226165115,0000,PDQX083S,KKBC06,6,M1W3,30N0,1,10,...,11,-2.17,0.35,20201226,1,-0.015471,1.684162,1.335028,0.387637,72.271552

In [25]:
#AIw Profile
inputParamGhl2AIw = [snlist_csv, 
                      listTestcode,
                      listEnddt, 
                      listHddTrial,
                      ['6400'],
                      ['10N0', '11N0', '30N0']
                     ]
dfAIw = get_ghl2_table('ccb_ci_aiw_prim_comb', 
                        inputParamGhl2AIw, 
                       'hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection, \
                        band, index, writecurlist as iw, kickamp as ka, peakiw as ipk0, servswrparm as ser, \
                        row_number() over ( partition by hddsn, qualifier, lhd, band, peakiw, testcode order by enddate desc) as row_num'
                       )
dfAIw.loc[:,'mfgid_5'] = dfAIw['mfgid_5'].values.astype('int')

#Gen4
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_a'] = -0.013954886
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_b'] = 1.128161219
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_c'] = 1.973010793
dfAIw.loc[dfAIw['mfgid_5'] < 4,'coef_d'] = -1.407847328
#Gen4i A1
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_a'] = -0.015470889
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_b'] = 1.684161818
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_c'] = 1.335027916
dfAIw.loc[dfAIw['mfgid_5'] >= 4,'coef_d'] = 0.387637386

dfAIw.loc[:,'ipk'] = ((dfAIw.loc[:,'coef_a'].values * dfAIw.loc[:,'ka'].values + dfAIw.loc[:,'coef_b'].values) * dfAIw.loc[:,'iw'].values +
                      (dfAIw.loc[:,'coef_c'].values * dfAIw.loc[:,'ka'].values + dfAIw.loc[:,'coef_d'].values)
                     )
dfAIw.to_pickle('dfAIwProfile.pkl')
dfAIw

current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         band, index, writecurlist as iw, kickamp as ka, peakiw as ipk0, servswrparm as ser,                         row_number() over ( partition by hddsn, qualifier, lhd, band, peakiw, testcode order by enddate desc) as row_num from ghl2.ccb_ci_aiw_prim_comb where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0') and pfcode not in ('9999', '99V6', '99V7')
(114400, 18)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         band, index, writecurlist as iw, kickamp as ka, peakiw as ipk0, servswrparm as ser,                         row_number() over ( partition by hddsn, qualifier, lhd, band, peakiw, testcode order by enddate desc) as row_num from ghl2.ccb_ci_aiw_prim_comb where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0') and pfcode not in ('9999', '99V6', '99V7')
(224048, 18)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         band, index, writecurlist as iw, kickamp as ka, peakiw as ipk0, servswrparm as ser,                         row_number() over ( partition by hddsn, qualifier, lhd, band, peakiw, testcode order by enddate desc) as row_num from ghl2.ccb_ci_aiw_prim_comb where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0') and pfcode not in ('9999', '99V6', '99V7')
(325248, 18)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         band, index, writecurlist as iw, kickamp as ka, peakiw as ipk0, servswrparm as ser,                         row_number() over ( partition by hddsn, qualifier, lhd, band, peakiw, testcode order by enddate desc) as row_num from ghl2.ccb_ci_aiw_prim_comb where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0') and pfcode not in ('9999', '99V6', '99V7')
(426448, 18)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, mfgid_5, hddtrial, qualifier, lhd, phd, readerselection,                         band, index, writecurlist as iw, kickamp as ka, peakiw as ipk0, servswrparm as ser,                         row_number() over ( partition by hddsn, qualifier, lhd, band, peakiw, testcode order by enddate desc) as row_num from ghl2.ccb_ci_aiw_prim_comb where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400') and qualifier in ('10N0', '11N0', '30N0') and pfcode not in ('9999', '99V6', '99V7')
(444664, 18)

,hddsn,enddate,pfcode,testcode,mfgid,mfgid_5,hddtrial,qualifier,lhd,phd,...,iw,ka,ipk0,ser,row_num,coef_a,coef_b,coef_c,coef_d,ipk
0,2FG0230A,20201226141112,0000,PDQX083S,KJ1C03,3,M1YP,11N0,0,9,...,38,30,85,-1.75,1,-0.013955,1.128161,1.973011,-1.407847,84.744033
1,2FG0236A,20201226133756,0000,PDQX083S,KJ1C03,3,M1YP,30N0,0,9,...,16,11,36,0.00,1,-0.013955,1.128161,1.973011,-1.407847,35.889791
2,2FG023AA,20201226140133,0000,PDQX083S,KJ1C03,3,M1YP,11N0,0,9,...,7,5,16,0.00,1,-0.013955,1.128161,1.973011,-1.407847,15.865914
3,2FG023UA,20201226144546,0000,PDQX083S,KJ1C03,3,M1YP,11N0,0,9,...,44,34,94,-1.88,1,-0.013955,1.128161,1.973011,-1.407847,94.437104
4,2FG0244A,20201226133334,0000,PDQX083S,KJ1C03,3,M1YP,10N0,0,9,...,42,32,90,-2.97,1,-0.013955,1.128161,1.973011,-1.407847,90.355902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18211,2FA0B67E,20201226153721,0000,PDQX083S,KKBC06,6,M1W3,30N0,1,10,...,20,16,50,-1.98,1,-0.015471,1.684162,1.335028,0.387637,50.480636
18212,2FA0B6BE,20201226170027,0000,PDQX083S,KKBC06,6,M1W3,11N0,1,10,...,20,16,50,-0.85,1,-0.015471,1.684162,1.335028,0.387637,50.480636
18213,2FA0B6DE,20201226170027,0000,PDQX083S,KKBC06,6,M1W3,10N0,0,9,...,30,28,75,-3.43,1,-0.015471,1.684162,1.335028,0.387637,75.297727
18214,2FA0B6DE,20201226170027,0000,PDQX083S,KKBC06,6,M1W3,10N0,1,10,...,4,2,10,0.00,1,-0.015471,1.684162,1.335028,0.387637,9.670573
18215,2FA0B6DE,20201226170027,0000,PDQX083S,KKBC06,6,M1W3,11N0,1,10,...,26,22,65,-1.32,1,-0.015471,1.684162,1.335028,0.387637,64.697110

# ATI

In [26]:
#DATI Nmax
inputParamGhl2Dati = [snlist_csv, 
                     listTestcode,
                     listEnddt, 
                     listHddTrial,
                     ['6400', '6600'],
                     ['3000', '9000', '4360', 'L360']
                    ]
dfNmaxTemp = get_ghl2_table('ccb_ci_ati_prim_bybandwrnum', 
                            inputParamGhl2Dati, 
                            'hddsn, mfgid, hddtrial, testcode, qualifier, procid, lhd, phd, band, nmax50byband, \
                             row_number() over (partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num')
dfNmaxTemp = pd.read_pickle('df_ccb_ci_ati_prim_bybandwrnum.pkl')
dfNmaxTemp.loc[:,'nmax50byband'] = dfNmaxTemp.loc[:,'nmax50byband'].values.astype(np.int64)
dfNmaxTemp.to_pickle('dfNmaxTemp.pkl')
dfNmaxTemp

current sql is select hddsn, mfgid, hddtrial, testcode, qualifier, procid, lhd, phd, band, nmax50byband,                              row_number() over (partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ati_prim_bybandwrnum where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400', '6600') and qualifier in ('3000', '9000', '4360', 'L360') and pfcode not in ('9999', '99V6', '99V7')
(3328, 11)

,hddsn,mfgid,hddtrial,testcode,qualifier,procid,lhd,phd,band,nmax50byband,row_num
0,2FA00WRA,KJ1C03,Z07E,PDQX083M,3000,6400,0,9,56,304,1
1,2FA00WRA,KJ1C03,Z07E,PDQX083M,9000,6600,0,9,1,161,1
2,2FA02DNA,KJ1C03,Z07E,PDQX083M,3000,6400,0,9,32,377,1
3,2FA06GNA,KJ1C03,NPIF,PDQX083M,3000,6400,0,9,44,453,1
4,2FA06H1A,KJ1C03,NPIF,PDQX083M,3000,6400,0,9,38,407,1
...,...,...,...,...,...,...,...,...,...,...,...
3323,2FA06H4A,KJ1C03,NPIF,PDQX083M,9000,6600,0,9,37,373,1
3324,2FA00WRA,KJ1C03,Z07E,PDQX083M,3000,6400,0,9,28,481,1
3325,2FA00WRA,KJ1C03,Z07E,PDQX083M,9000,6600,1,10,43,247,1
3326,2FA01E4A,KJ1C03,Z07E,PDQX083M,9000,6600,0,9,41,203,1
3327,2FA02E8A,KJ1C03,Z07E,PDQX083M,3000,6400,0,9,43,310,1

In [19]:
#DATI RV
inputParamGhl2AtiRv = [snlist_csv, 
                       listTestcode,
                       listEnddt, 
                       listHddTrial,
                       ['6400', '6600'],
                       ['35N0', '3000', '95H0', '9000', '4360', 'L360']
                      ]

dfAtiRv = get_ghl2_table('ccb_ci_dati_theta', 
                         inputParamGhl2AtiRv, 
                         'hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, subqualifier, readerselection, tempzone, zone, \
                          maxrvsumheadalltemp, avgrvsumheadalltemp, avgrvsumdrivealltemp, avgrvsumzonealltemp, rvsum, spaidentifier, rvsumminushalf4smr, rvsumplushalf4smr, \
                          worstavgrvsumzonewithmaxnlxmulti, worstzonewithmaxnlxmulti, worstavgrvsumzonewithminnlxmulti, worstzonewithminnlxmulti, worstavgrvsumzonewithavenlxmulti, \
                          worstzonewithavenlxmulti, product, procid, enddt, \
                          row_number() over ( partition by hddsn, testcode, qualifier, lhd, tempzone, zone order by enddate desc) as row_num')
#dfAtiRv = pd.read_pickle('df_ccb_ci_dati_theta.pkl')
dfAtiRv

current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, subqualifier, readerselection, tempzone, zone,                           maxrvsumheadalltemp, avgrvsumheadalltemp, avgrvsumdrivealltemp, avgrvsumzonealltemp, rvsum, spaidentifier, rvsumminushalf4smr, rvsumplushalf4smr,                           worstavgrvsumzonewithmaxnlxmulti, worstzonewithmaxnlxmulti, worstavgrvsumzonewithminnlxmulti, worstzonewithminnlxmulti, worstavgrvsumzonewithavenlxmulti,                           worstzonewithavenlxmulti, product, procid, enddt,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd, tempzone, zone order by enddate desc) as row_num from ghl2.ccb_ci_dati_theta where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400', '6600') and qualifier in ('35N0', '3000', '95H0', '9000', '4360', 'L360') and pfcode not in ('9999', '99V6', '99V7')
(110400, 33)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, subqualifier, readerselection, tempzone, zone,                           maxrvsumheadalltemp, avgrvsumheadalltemp, avgrvsumdrivealltemp, avgrvsumzonealltemp, rvsum, spaidentifier, rvsumminushalf4smr, rvsumplushalf4smr,                           worstavgrvsumzonewithmaxnlxmulti, worstzonewithmaxnlxmulti, worstavgrvsumzonewithminnlxmulti, worstzonewithminnlxmulti, worstavgrvsumzonewithavenlxmulti,                           worstzonewithavenlxmulti, product, procid, enddt,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd, tempzone, zone order by enddate desc) as row_num from ghl2.ccb_ci_dati_theta where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400', '6600') and qualifier in ('35N0', '3000', '95H0', '9000', '4360', 'L360') and pfcode not in ('9999', '99V6', '99V7')
(220800, 33)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, subqualifier, readerselection, tempzone, zone,                           maxrvsumheadalltemp, avgrvsumheadalltemp, avgrvsumdrivealltemp, avgrvsumzonealltemp, rvsum, spaidentifier, rvsumminushalf4smr, rvsumplushalf4smr,                           worstavgrvsumzonewithmaxnlxmulti, worstzonewithmaxnlxmulti, worstavgrvsumzonewithminnlxmulti, worstzonewithminnlxmulti, worstavgrvsumzonewithavenlxmulti,                           worstzonewithavenlxmulti, product, procid, enddt,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd, tempzone, zone order by enddate desc) as row_num from ghl2.ccb_ci_dati_theta where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400', '6600') and qualifier in ('35N0', '3000', '95H0', '9000', '4360', 'L360') and pfcode not in ('9999', '99V6', '99V7')
(331200, 33)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, subqualifier, readerselection, tempzone, zone,                           maxrvsumheadalltemp, avgrvsumheadalltemp, avgrvsumdrivealltemp, avgrvsumzonealltemp, rvsum, spaidentifier, rvsumminushalf4smr, rvsumplushalf4smr,                           worstavgrvsumzonewithmaxnlxmulti, worstzonewithmaxnlxmulti, worstavgrvsumzonewithminnlxmulti, worstzonewithminnlxmulti, worstavgrvsumzonewithavenlxmulti,                           worstzonewithavenlxmulti, product, procid, enddt,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd, tempzone, zone order by enddate desc) as row_num from ghl2.ccb_ci_dati_theta where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400', '6600') and qualifier in ('35N0', '3000', '95H0', '9000', '4360', 'L360') and pfcode not in ('9999', '99V6', '99V7')

(441600, 33)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, subqualifier, readerselection, tempzone, zone,                           maxrvsumheadalltemp, avgrvsumheadalltemp, avgrvsumdrivealltemp, avgrvsumzonealltemp, rvsum, spaidentifier, rvsumminushalf4smr, rvsumplushalf4smr,                           worstavgrvsumzonewithmaxnlxmulti, worstzonewithmaxnlxmulti, worstavgrvsumzonewithminnlxmulti, worstzonewithminnlxmulti, worstavgrvsumzonewithavenlxmulti,                           worstzonewithavenlxmulti, product, procid, enddt,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd, tempzone, zone order by enddate desc) as row_num from ghl2.ccb_ci_dati_theta where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400', '6600') and qualifier in ('35N0', '3000', '95H0', '9000', '4360', 'L360') and pfcode not in ('9999', '99V6', '99V7')
(461472, 33)

,hddsn,enddate,pfcode,testcode,testcodec,mfgid,hddtrial,cmdname,qualifier,lhd,...,worstavgrvsumzonewithmaxnlxmulti,worstzonewithmaxnlxmulti,worstavgrvsumzonewithminnlxmulti,worstzonewithminnlxmulti,worstavgrvsumzonewithavenlxmulti,worstzonewithavenlxmulti,product,procid,enddt,row_num
0,2FG020VA,20201226141444,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,3000,1,...,0,0,0,0,0,0,pdq,6400,20201226,1
1,2FG020VA,20201228175109,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9000,0,...,0,0,0,0,0,0,pdq,6600,20201228,1
2,2FG021UA,20201228163651,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9000,1,...,0,0,0,0,0,0,pdq,6600,20201228,1
3,2FG022WA,20201226141736,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,3000,0,...,0,0,0,0,0,0,pdq,6400,20201226,1
4,2FG022WA,20201226141736,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,3000,1,...,0,0,0,0,0,0,pdq,6400,20201226,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19867,2FA0B6BE,20201226170027,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,3000,0,...,0,0,0,0,0,0,pdq,6400,20201226,1
19868,2FA0B6BE,20201226170027,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,3000,1,...,0,0,0,0,0,0,pdq,6400,20201226,1
19869,2FA0B6BE,20201228230119,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,9000,0,...,0,0,0,0,0,0,pdq,6600,20201228,1
19870,2FA0B6DE,20201226170027,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,3000,0,...,0,0,0,0,0,0,pdq,6400,20201226,1
19871,2FA0B6DE,20201228225733,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,95H0,0,...,0,255,0,255,0,255,pdq,6600,20201228,1

In [20]:
#JINX RV
inputParamGhl2AtiRv = [snlist_csv, 
                       listTestcode,
                       listEnddt, 
                       listHddTrial,
                       ['6600'],
                       ['9050']
                      ]

dfJinxRv = get_ghl2_table('ccb_ci_ati_mcsb_ns', 
                         inputParamGhl2AtiRv, 
                         'hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, maxrvcheck4nonlinearxcor_0, maxrvcheck4nonlinearxcor_1, \
                          row_number() over ( partition by hddsn, testcode, qualifier, lhd order by enddate desc) as row_num')
dfJinxRv

current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, maxrvcheck4nonlinearxcor_0, maxrvcheck4nonlinearxcor_1,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd order by enddate desc) as row_num from ghl2.ccb_ci_ati_mcsb_ns where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6600') and qualifier in ('9050') and pfcode not in ('9999', '99V6', '99V7')
(200, 14)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, maxrvcheck4nonlinearxcor_0, maxrvcheck4nonlinearxcor_1,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd order by enddate desc) as row_num from ghl2.ccb_ci_ati_mcsb_ns where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6600') and qualifier in ('9050') and pfcode not in ('9999', '99V6', '99V7')
(400, 14)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, maxrvcheck4nonlinearxcor_0, maxrvcheck4nonlinearxcor_1,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd order by enddate desc) as row_num from ghl2.ccb_ci_ati_mcsb_ns where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6600') and qualifier in ('9050') and pfcode not in ('9999', '99V6', '99V7')
(600, 14)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, maxrvcheck4nonlinearxcor_0, maxrvcheck4nonlinearxcor_1,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd order by enddate desc) as row_num from ghl2.ccb_ci_ati_mcsb_ns where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6600') and qualifier in ('9050') and pfcode not in ('9999', '99V6', '99V7')
(800, 14)
current sql is select hddsn, enddate, pfcode, testcode, testcodec, mfgid, hddtrial, cmdname, qualifier, lhd, phd, maxrvcheck4nonlinearxcor_0, maxrvcheck4nonlinearxcor_1,                           row_number() over ( partition by hddsn, testcode, qualifier, lhd order by enddate desc) as row_num from ghl2.ccb_ci_ati_mcsb_ns where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6600') and qualifier in ('9050') and pfcode not in ('9999', '99V6', '99V7')
(836, 14)

,hddsn,enddate,pfcode,testcode,testcodec,mfgid,hddtrial,cmdname,qualifier,lhd,phd,maxrvcheck4nonlinearxcor_0,maxrvcheck4nonlinearxcor_1,row_num
0,2FG0388A,20201228155355,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9050,0,9,4332,15000,1
1,2FG03DEA,20201228173920,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9050,1,10,1480,15000,1
2,2FG03N1A,20201228165906,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9050,0,9,2238,15000,1
3,2FG02N0A,20201228192101,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9050,0,9,1194,15000,1
4,2FG02HHA,20201228175443,0000,PDQX083S,PDQX083,KJ1C03,M1YP,CAti,9050,1,10,1048,15000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,2FA0B5WE,20201228215345,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,9050,1,10,1560,15000,1
32,2FA0B64E,20201228213320,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,9050,1,10,258,15000,1
33,2FA0B5UE,20201228195711,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,9050,1,10,888,15000,1
34,2FA0B5ZE,20201228205315,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,9050,1,10,990,15000,1
35,2FA0B68E,20201228225733,0000,PDQX083S,PDQX083,KKBC06,M1W3,CAti,9050,1,10,1006,15000,1

# ASB (SMR)

In [28]:
#CASB
inputParamGhl2Asb = [snlist_csv, 
                     listTestcode,
                     listEnddt, 
                     listHddTrial,
                     ['6400'],
                     ['2300']
                    ]
dfAsb = get_ghl2_table('ccb_ci_casb', inputParamGhl2Asb, 
                       'hddsn, lhd, phd, mfgid, testcode, maxbandod2id, \
                        row_number() over (partition by hddsn, testcode, lhd, band order by enddate desc) as row_num', 
                       'band=0')
dfAsb = pd.read_pickle('df_ccb_ci_casb.pkl').query("row_num==1")
dfAsb

current sql is select hddsn, lhd, phd, mfgid, testcode, maxbandod2id,                         row_number() over (partition by hddsn, testcode, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_casb where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('2300') and pfcode not in ('9999', '99V6', '99V7') and band=0
(28, 7)

       hddsn  lhd  phd   mfgid  testcode  maxbandod2id  row_num
0   2FA02E8A    1   10  KJ1C03  PDQX083M            23        1
1   2FA06GNA    1   10  KJ1C03  PDQX083M            31        1
2   2FA02EAA    1   10  KJ1C03  PDQX083M            31        1
3   2FA06G5A    1   10  KJ1C03  PDQX083M            27        1
4   2FA01E4A    1   10  KJ1C03  PDQX083M            34        1
5   2FA06G3A    0    9  KJ1C03  PDQX083M            47        1
6   2FA00WRA    0    9  KJ1C03  PDQX083M            32        1
7   2FA02EUA    0    9  KJ1C03  PDQX083M            37        1
8   2FA02DNA    0    9  KJ1C03  PDQX083M            51        1
9   2FA02DNA    1   10  KJ1C03  PDQX083M            21        1
10  2FA06H1A    0    9  KJ1C03  PDQX083M            49        1
11  2FA06H4A    0    9  KJ1C03  PDQX083M            38        1
12  2FA06H1A    1   10  KJ1C03  PDQX083M            31        1
13  2FA06EXA    1   10  KJ1C03  PDQX083M            44        1
14  2FA02EAA    0    9  KJ1C03  PDQX083M            32        1
15  2FA02DKA    1   10  KJ1C03  PDQX083M            29        1
16  2FA06EXA    0    9  KJ1C03  PDQX083M            56        1
17  2FA06GNA    0    9  KJ1C03  PDQX083M            30        1
18  2FA06H4A    1   10  KJ1C03  PDQX083M            36        1
19  2FA02E8A    0    9  KJ1C03  PDQX083M            43        1
20  2FA06G3A    1   10  KJ1C03  PDQX083M            28        1
21  2FA06G5A    0    9  KJ1C03  PDQX083M            36        1
22  2FA00WRA    1   10  KJ1C03  PDQX083M            38        1
23  2FA01EHA    0    9  KJ1C03  PDQX083M            39        1
24  2FA02EUA    1   10  KJ1C03  PDQX083M            44        1
25  2FA01E4A    0    9  KJ1C03  PDQX083M            36        1
26  2FA01EHA    1   10  KJ1C03  PDQX083M            47        1
27  2FA02DKA    0    9  KJ1C03  PDQX083M            41        1

# UFO

In [29]:
# UFO
inputParamGhl2Ufo = [snlist_csv, 
                     listTestcode,
                     listEnddt, 
                     listHddTrial,
                     ['6400'],
                     ['1000', '2000']
                    ]
dfUfo = get_ghl2_table('ccb_ci_ufo', inputParamGhl2Ufo, 
                       'hddsnenddate, hddsn, enddate, drivemodel, pfcode, testcode, mfgid, hddtrial, aetype, hdctype, cmdname, \
                       qualifier, readerselection, cmdexecutiontimeinmilliseconds, mcsbarraymaxnumheads, mcsbarraymaxnumbands, \
                       mcsbarrayodmdidbands, logicalheadtestcompletemap, physicalheadfailcriteriamap, lastlogicalheadtested, lastbandtested, \
                       lasttracktested, lastsubcmdtested, finalusedservotrack, finalstrokepctx100, finalstrokepercent, finaldefectupliftpctx100, \
                       finalmediacacheupliftpctx100, finaltrackskewadjustment, finaltpirelaxationpercentx100, finaltpirelaxationpercent, \
                       finalwaterfallselection, finalblocksizemap, finalfitmetricvalue, finalmaxlogicalheadnum, finalmodelnumber, finalphysicalheadmap, \
                       finalsustainedmbytepersec, totaldrivelbarequired, finaldrivetotallba, calcsteps, accdrivetotallba, accdrivetotallbanoati, \
                       maxchanfreqmhz, accdrivetotallbaformat, finalseqperfvarpctx100, accdefaultupliftcalcreqcap, product, procid, enddt, \
                       row_number() over (partition by hddsn, testcode, qualifier order by enddate desc) as row_num')
#dfUfo.loc[dfUfo.qualifier.str.startswith('1'), 'targetLba'] = tgtLbaCmr
#dfUfo.loc[dfUfo.qualifier.str.startswith('2'), 'targetLba'] = tgtLbaSmr
#dfUfo.loc[:,'iacc_pct'] = dfUfo.loc[:,'iacc_pct'].values / tgtLbaCmr
dfUfo = pd.read_pickle('df_ccb_ci_ufo.pkl')

current sql is select hddsnenddate, hddsn, enddate, drivemodel, pfcode, testcode, mfgid, hddtrial, aetype, hdctype, cmdname,                        qualifier, readerselection, cmdexecutiontimeinmilliseconds, mcsbarraymaxnumheads, mcsbarraymaxnumbands,                        mcsbarrayodmdidbands, logicalheadtestcompletemap, physicalheadfailcriteriamap, lastlogicalheadtested, lastbandtested,                        lasttracktested, lastsubcmdtested, finalusedservotrack, finalstrokepctx100, finalstrokepercent, finaldefectupliftpctx100,                        finalmediacacheupliftpctx100, finaltrackskewadjustment, finaltpirelaxationpercentx100, finaltpirelaxationpercent,                        finalwaterfallselection, finalblocksizemap, finalfitmetricvalue, finalmaxlogicalheadnum, finalmodelnumber, finalphysicalheadmap,                        finalsustainedmbytepersec, totaldrivelbarequired, finaldrivetotallba, calcsteps, accdrivetotallba, accdrivetotallbanoati,                        maxchanfreqmhz, accdrivetotallbaformat, finalseqperfvarpctx100, accdefaultupliftcalcreqcap, product, procid, enddt,                        row_number() over (partition by hddsn, testcode, qualifier order by enddate desc) as row_num from ghl2.ccb_ci_ufo where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(28, 51)

In [22]:
# UFO hd array
inputParamGhl2UfoHdArry = [snlist_csv, 
                           listTestcode,
                           listEnddt, 
                           listHddTrial,
                           ['6400'],
                           ['1000', '2000']
                    ]
dfUfoHdArry = get_ghl2_table('ccb_ci_ufo_hd_array', inputParamGhl2UfoHdArry, 
                             'hddsn, enddate, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, readerselection, \
                             finalheadtotallba, accheadtotallba, accmetricvalue, accheadtotallbanoati, \
                             accheadtotallbaformat, \
                             row_number() over (partition by hddsn, lhd, testcode, qualifier order by enddate desc) as row_num',
                            )
dfUfoHdArry.loc[dfUfoHdArry.qualifier.str.startswith('1'), 'targetLba'] = tgtLbaCmr
dfUfoHdArry.loc[dfUfoHdArry.qualifier.str.startswith('2'), 'targetLba'] = tgtLbaSmr
dfUfoHdArry.loc[:,'iacc_pct'] = 100*dfUfoHdArry.loc[:,'accheadtotallbanoati'].values  / dfUfoHdArry.loc[:, 'targetLba'].values
dfUfoHdArry.loc[:,'pacc_pct'] = 100*dfUfoHdArry.loc[:,'accheadtotallbaformat'].values / dfUfoHdArry.loc[:, 'targetLba'].values
dfUfoHdArry.to_pickle('dfUfoHdArry.pkl')
dfUfoHdArry

current sql is select hddsn, enddate, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, readerselection,                              finalheadtotallba, accheadtotallba, accmetricvalue, accheadtotallbanoati,                              accheadtotallbaformat,                              row_number() over (partition by hddsn, lhd, testcode, qualifier order by enddate desc) as row_num from ghl2.ccb_ci_ufo_hd_array where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG041MA', '2FG040HA', '2FG040GA', '2FG03ZXA', '2FG03YRA', '2FG03XAA', '2FG03X6A', '2FG03X0A', '2FG03W6A', '2FG03VSA', '2FG03V9A', '2FG03V1A', '2FG03UUA', '2FG03THA', '2FG03T9A', '2FG03T7A', '2FG03T4A', '2FG03S8A', '2FG03S3A', '2FG03RZA', '2FG03RLA', '2FG03R9A', '2FG03PXA', '2FG03PTA', '2FG03PSA', '2FG03NVA', '2FG03NMA', '2FG03N4A', '2FG03N1A', '2FG03LRA', '2FG03K3A', '2FG03J5A', '2FG03GSA', '2FG03E3A', '2FG03DEA', '2FG03A4A', '2FG0388A', '2FG0383A', '2FG037ZA', '2FG037XA', '2FG02S1A', '2FG02RYA', '2FG02RKA', '2FG02N0A', '2FG02MZA', '2FG02MNA', '2FG02MGA', '2FG02MAA', '2FG02LRA', '2FG02LAA', '2FG02K0A', '2FG02JVA', '2FG02J2A', '2FG02HRA', '2FG02HNA', '2FG02HMA', '2FG02HHA', '2FG02GXA', '2FG02EPA', '2FG02E5A', '2FG02DZA', '2FG02BZA', '2FG02BVA', '2FG02BTA', '2FG02BPA', '2FG02AZA', '2FG02AVA', '2FG02ATA', '2FG02APA', '2FG02ADA', '2FG02AAA', '2FG0287A', '2FG027UA', '2FG0272A', '2FG0263A', '2FG025TA', '2FG0244A', '2FG023UA', '2FG0208A', '2FG020RA', '2FG020VA', '2FG021UA', '2FG022WA', '2FG0230A', '2FG0236A', '2FG023AA', '2FG03H6A', '2FG03H1A', '2FG03BUA', '2FG03BJA', '2FG03BEA', '2FG03B7A', '2FG038WA', '2FG038JA', '2FG037JA', '2FG036HA', '2FG0366A', '2FG0364A', '2FG0360A', '2FG035VA') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(400, 15)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, readerselection,                              finalheadtotallba, accheadtotallba, accmetricvalue, accheadtotallbanoati,                              accheadtotallbaformat,                              row_number() over (partition by hddsn, lhd, testcode, qualifier order by enddate desc) as row_num from ghl2.ccb_ci_ufo_hd_array where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FG0359A', '2FG034WA', '2FG034NA', '2FG034DA', '2FG0347A', '2FG014PA', '2FG014RA', '2FG015GA', '2FG015XA', '2FG016RA', '2FG0175A', '2FG0178A', '2FG0179A', '2FG017EA', '2FG017GA', '2FG017NA', '2FG017YA', '2FG0184A', '2FG018BA', '2FG0197A', '2FG019HA', '2FG019MA', '2FG019ZA', '2FG01ANA', '2FG01BXA', '2FG01D0A', '2FG01DVA', '2FG01E0A', '2FG01EBA', '2FG01EVA', '2FG01G0A', '2FG01H3A', '2FG01H8A', '2FG01HSA', '2FG01K6A', '2FG01KXA', '2FG01M3A', '2FG01M4A', '2FG01M5A', '2FG01M9A', '2FG01NKA', '2FG01NPA', '2FG01PBA', '2FG01R1A', '2FG01R7A', '2FG01RMA', '2FG01RNA', '2FG01RZA', '2FG01T6A', '2FG01T8A', '2FG01TAA', '2FG01UPA', '2FG01V3A', '2FG01V8A', '2FG01VGA', '2FG01WEA', '2FG01X2A', '2FG01X9A', '2FG01XBA', '2FG01XXA', '2FG01YLA', '2FG01Z2A', '2FG01ZMA', '2FG01ZUA', '2FA0AYEE', '2FA0AYGE', '2FA0AYHE', '2FA0AYJE', '2FA0AYKE', '2FA0AYLE', '2FA0AYME', '2FA0AYNE', '2FA0AYPE', '2FA0AYSE', '2FA0AYUE', '2FA0AYXE', '2FA0AYYE', '2FA0AYZE', '2FA0AZ1E', '2FA0AZ2E', '2FA0AZ4E', '2FA0AZ5E', '2FA0AZ6E', '2FA0AZ7E', '2FA0AZ8E', '2FA0AZ9E', '2FA0AZAE', '2FA0AZBE', '2FA0AZDE', '2FA0AZEE', '2FA0AZHE', '2FA0AZJE', '2FA0AZLE', '2FA0AZME', '2FA0AZNE', '2FA0AZPE', '2FA0AZRE', '2FA0AZSE', '2FA0AZTE', '2FA0AZUE') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(800, 15)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, readerselection,                              finalheadtotallba, accheadtotallba, accmetricvalue, accheadtotallbanoati,                              accheadtotallbaformat,                              row_number() over (partition by hddsn, lhd, testcode, qualifier order by enddate desc) as row_num from ghl2.ccb_ci_ufo_hd_array where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B88E', '2FA0B89E', '2FA0B8AE', '2FA0B8BE', '2FA0B8DE', '2FA0B8EE', '2FA0B8GE', '2FA0B8JE', '2FA0B8KE', '2FA0B8LE', '2FA0B8ME', '2FA0B8NE', '2FA0B8PE', '2FA0B8SE', '2FA0B8TE', '2FA0B8UE', '2FA0B8VE', '2FA0B8ZE', '2FA0B90E', '2FA0B91E', '2FA0B92E', '2FA0B93E', '2FA0B94E', '2FA0B95E', '2FA0B96E', '2FA0B97E', '2FA0B98E', '2FA0B9BE', '2FA0B9EE', '2FA0B9GE', '2FA0B9HE', '2FA0B9JE', '2FA0B9KE', '2FA0B9LE', '2FA0B9NE', '2FA0B9PE', '2FA0B9RE', '2FA0B9SE', '2FA0B9TE', '2FA0B9UE', '2FA0B9VE', '2FA0B9WE', '2FA0B9XE', '2FA0B9ZE', '2FA0BA0E', '2FA0BA2E', '2FA0BA5E', '2FA0BA6E', '2FA0BA8E', '2FA0BAAE', '2FA0BABE', '2FA0BADE', '2FA0BAEE', '2FA0BAGE', '2FA0BAHE', '2FA0BAKE', '2FA0BANE', '2FA0AZVE', '2FA0AZWE', '2FA0AZXE', '2FA0AZYE', '2FA0AZZE', '2FA0B00E', '2FA0B01E', '2FA0B02E', '2FA0B03E', '2FA0B04E', '2FA0B05E', '2FA0B07E', '2FA0B08E', '2FA0B0AE', '2FA0B0BE', '2FA0B0DE', '2FA0B0EE', '2FA0B0GE', '2FA0B0HE', '2FA0B0JE', '2FA0B0LE', '2FA0B0NE', '2FA0B0PE', '2FA0B0RE', '2FA0B0SE', '2FA0B0TE', '2FA0B0VE', '2FA0B0WE', '2FA0B0XE', '2FA0B0YE', '2FA0B0ZE', '2FA0B10E', '2FA0B12E', '2FA0B13E', '2FA0B15E', '2FA0B16E', '2FA0B17E', '2FA0B18E', '2FA0B19E', '2FA0B1AE', '2FA0B1BE', '2FA0B1GE', '2FA0B1HE') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(1200, 15)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, readerselection,                              finalheadtotallba, accheadtotallba, accmetricvalue, accheadtotallbanoati,                              accheadtotallbaformat,                              row_number() over (partition by hddsn, lhd, testcode, qualifier order by enddate desc) as row_num from ghl2.ccb_ci_ufo_hd_array where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B1JE', '2FA0B1ME', '2FA0B1PE', '2FA0B1RE', '2FA0B1TE', '2FA0B1UE', '2FA0B1VE', '2FA0B1XE', '2FA0B1YE', '2FA0B1ZE', '2FA0B20E', '2FA0B22E', '2FA0B23E', '2FA0B24E', '2FA0B27E', '2FA0B28E', '2FA0B29E', '2FA0B2AE', '2FA0B2BE', '2FA0B2DE', '2FA0B2EE', '2FA0B2GE', '2FA0B2JE', '2FA0B2LE', '2FA0B2ME', '2FA0B2NE', '2FA0B2PE', '2FA0B2RE', '2FA0B2SE', '2FA0B2UE', '2FA0B2WE', '2FA0B2XE', '2FA0B2YE', '2FA0B30E', '2FA0B31E', '2FA0B33E', '2FA0B34E', '2FA0B36E', '2FA0B39E', '2FA0B3DE', '2FA0B3GE', '2FA0B3HE', '2FA0B3JE', '2FA0B3KE', '2FA0B3LE', '2FA0B3ME', '2FA0B3NE', '2FA0B3PE', '2FA0B3RE', '2FA0B3SE', '2FA0B3TE', '2FA0B3UE', '2FA0B3VE', '2FA0B3WE', '2FA0B3YE', '2FA0B3ZE', '2FA0B40E', '2FA0B41E', '2FA0B42E', '2FA0B43E', '2FA0B45E', '2FA0B46E', '2FA0B47E', '2FA0B48E', '2FA0B49E', '2FA0B4AE', '2FA0B4BE', '2FA0B4DE', '2FA0B4EE', '2FA0B4GE', '2FA0B4HE', '2FA0B4JE', '2FA0B4KE', '2FA0B4LE', '2FA0B4ME', '2FA0B4PE', '2FA0B4RE', '2FA0B4WE', '2FA0B4XE', '2FA0B4ZE', '2FA0B50E', '2FA0B51E', '2FA0B52E', '2FA0B53E', '2FA0B54E', '2FA0B55E', '2FA0B57E', '2FA0B59E', '2FA0B5AE', '2FA0B5BE', '2FA0B5DE', '2FA0B5EE', '2FA0B5GE', '2FA0B5HE', '2FA0B5JE', '2FA0B5LE', '2FA0B5ME', '2FA0B5NE', '2FA0B5PE', '2FA0B5RE') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(1600, 15)
current sql is select hddsn, enddate, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, readerselection,                              finalheadtotallba, accheadtotallba, accmetricvalue, accheadtotallbanoati,                              accheadtotallbaformat,                              row_number() over (partition by hddsn, lhd, testcode, qualifier order by enddate desc) as row_num from ghl2.ccb_ci_ufo_hd_array where product='pdq' and testcode in ('PDQX083S') and enddt between '20201225' and '20201229' and hddsn in ('2FA0B5SE', '2FA0B5TE', '2FA0B5UE', '2FA0B5WE', '2FA0B5XE', '2FA0B5YE', '2FA0B5ZE', '2FA0B60E', '2FA0B61E', '2FA0B63E', '2FA0B64E', '2FA0B65E', '2FA0B66E', '2FA0B67E', '2FA0B68E', '2FA0B6AE', '2FA0B6BE', '2FA0B6DE') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(1672, 15)

,hddsn,enddate,pfcode,testcode,mfgid,hddtrial,qualifier,lhd,readerselection,finalheadtotallba,accheadtotallba,accmetricvalue,accheadtotallbanoati,accheadtotallbaformat,row_num,targetLba,iacc_pct,pacc_pct
0,2FG038JA,20201226141230,0000,PDQX083S,KJBC03,M1YQ,2000,0,3951,278737194,None,None,290394681,290394681,1,333662709.0,87.032405,87.032405
1,2FG0263A,20201226135204,0000,PDQX083S,KJ1C03,M1YP,2000,1,3951,273681514,None,None,283888989,283888989,1,333662709.0,85.082624,85.082624
2,2FG0244A,20201226133334,0000,PDQX083S,KJ1C03,M1YP,2000,1,4079,280757695,None,None,290224252,290224252,1,333662709.0,86.981327,86.981327
3,2FG035VA,20201226141230,0000,PDQX083S,KJBC03,M1YQ,1000,1,3951,249164681,None,None,256806126,256994012,1,273906721.0,93.756782,93.825376
4,2FG020VA,20201226141444,0000,PDQX083S,KJ1C03,M1YP,2000,0,3951,275624901,None,None,286502625,286502625,1,333662709.0,85.865941,85.865941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2FA0B6DE,20201226170027,0000,PDQX083S,KKBC06,M1W3,1000,1,3951,257614763,None,None,266135573,264567305,1,273906721.0,97.162849,96.590293
68,2FA0B67E,20201226153721,0000,PDQX083S,KKBC06,M1W3,2000,1,3951,290559917,None,None,300591602,300591602,1,333662709.0,90.088462,90.088462
69,2FA0B5YE,20201226153010,0000,PDQX083S,KKBC06,M1W3,1000,0,4079,258675985,None,None,267688020,267621617,1,273906721.0,97.729628,97.705385
70,2FA0B5TE,20201226165855,0000,PDQX083S,KKBC06,M1W3,1000,1,3951,258452550,None,None,267185836,267280282,1,273906721.0,97.546287,97.580768
71,2FA0B65E,20201226153457,0000,PDQX083S,KKBC06,M1W3,1000,1,3951,253760018,None,None,261126453,260673210,1,273906721.0,95.334080,95.168607

In [30]:
pd.pivot_table(dfUfoHdArry.query("qualifier=='1000'"), index=['hddsn', 'mfgid', 'lhd'], columns=['testcode'], values=['pacc_pct'], 
               aggfunc=np.mean)

                      pacc_pct
testcode              PDQX083M
hddsn    mfgid  lhd
2FA01DHA KJ1C01 0    83.170553
                1    84.059750
2FA01E1A KJ1C01 0    82.908505
                1    84.368206
2FA01E9A KJ1C01 0    83.037982
                1    84.274434
2FA02EGA KJ1C01 0    90.242004
                1    92.146839
2FA02ELA KJ1C01 0    90.461266
                1    88.539910
2FA02EVA KJ1C01 0    87.647748
                1    89.458732

In [31]:
# UFO SER, TPC
inputParamGhl2UfoSubCmd1 = [snlist_csv, 
                            listTestcode,
                            listEnddt, 
                            listHddTrial,
                            ['6400'],
                            ['1000', '2000']
                           ]
dfUfoSubCmd1 = get_ghl2_table('ccb_ci_ufo_scmd1', inputParamGhl2UfoSubCmd1, 
                              '* ')
dfUfoSubCmd1 = pd.read_pickle('df_ccb_ci_ufo_scmd1.pkl')

current sql is select *  from ghl2.ccb_ci_ufo_scmd1 where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(7699, 62)

In [32]:
# UFO Sqz Margin, otrc, track pitch
inputParamGhl2UfoSubCmd7 = [snlist_csv, 
                            listTestcode,
                            listEnddt, 
                            listHddTrial,
                            ['6400', '6600'],
                            ['3000', '9000', '4000', 'K000']
                           ]
dfUfoSubCmd7 = get_ghl2_table('ccb_ci_ufo_scmd7', 
                              inputParamGhl2UfoSubCmd7, 
                              'hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, test_band, tpmtpcdbl, tpmtpcod, tpmtpcid, otrc, finkfci, finktpi, defaultrate, procid, enddt, \
                               row_number() over (partition by hddsn, testcode, qualifier, lhd, test_band order by enddate desc) as row_num')
#dfUfoSubCmd7 = pd.read_pickle('df_ccb_ci_ufo_scmd7.pkl')

dfUfoSubCmd7.query("qualifier in ['3000', '9000', '4000', 'K000']", inplace=True)
dfUfoSubCmd7.loc[:,'tp_nm']  = (dfUfoSubCmd7.loc[:,'defaultrate'].values / 4096.0 * 25.4/stpi * 1e3).astype(np.float64)
if dfUfoSubCmd7.query("qualifier in ['3000', '9000']").shape[0] > 0:
    dfUfoSubCmd7.loc[(dfUfoSubCmd7['qualifier']=='3000') | (dfUfoSubCmd7['qualifier']=='9000'),'dtpi'] = dtpi_cmr
if dfUfoSubCmd7.query("qualifier in ['4000', 'K000']").shape[0] > 0:    
    dfUfoSubCmd7.loc[(dfUfoSubCmd7['qualifier']=='4000') | (dfUfoSubCmd7['qualifier']=='K000'),'dtpi'] = dtpi_smr

dfUfoSubCmd7.loc[:,'otrc'] = (dfUfoSubCmd7.loc[:,'otrc'].values * 25.4/dfUfoSubCmd7.loc[:,'dtpi'].values).astype(np.float64)     
dfUfoSubCmd7.loc[:,'tpf_dbl'] = (dfUfoSubCmd7.loc[:,'tpmtpcdbl'].values / 10000.0 * 25.4/dfUfoSubCmd7.loc[:,'dtpi'].values * 1e3).astype(np.float64)
dfUfoSubCmd7.loc[:,'tpf_od'] = (dfUfoSubCmd7.loc[:,'tpmtpcod'].values / 10000.0 * 25.4/dfUfoSubCmd7.loc[:,'dtpi'].values * 1e3).astype(np.float64)
dfUfoSubCmd7.loc[:,'tpf_id'] = (dfUfoSubCmd7.loc[:,'tpmtpcid'].values / 10000.0 * 25.4/dfUfoSubCmd7.loc[:,'dtpi'].values * 1e3).astype(np.float64)

#valid calc for only SMR
dfUfoSubCmd7.loc[:,'tpf_smr'] = (dfUfoSubCmd7.loc[:,'tpf_od'].values + dfUfoSubCmd7.loc[:,'tpf_id']).astype(np.float64)
dfUfoSubCmd7.loc[:,'sqm_smr'] = (dfUfoSubCmd7.loc[:,'tp_nm'].values - dfUfoSubCmd7.loc[:,'tpf_smr'].values).astype(np.float64)                            

#valid calc for only CMR
dfUfoSubCmd7.loc[:,'sqm_dbl'] = (dfUfoSubCmd7.loc[:,'tp_nm'].values - dfUfoSubCmd7.loc[:,'tpf_dbl'].values).astype(np.float64)
dfUfoSubCmd7.loc[:,'sqm_od']  = (dfUfoSubCmd7.loc[:,'tp_nm'].values - dfUfoSubCmd7.loc[:,'tpf_od'].values).astype(np.float64)
dfUfoSubCmd7.loc[:,'sqm_id']  = (dfUfoSubCmd7.loc[:,'tp_nm'].values - dfUfoSubCmd7.loc[:,'tpf_id'].values).astype(np.float64)

dfUfoSubCmd7.to_pickle('dfUfoSubCmd7.pkl')

"""
dfSqmFlat = pd.pivot_table(dfUfoSubCmd7.query("row_num==1"), 
                               index=['hddsn', 'mfgid', 'hddtrial', 'testcode', 'lhd'], 
                               columns=['qualifier', 'test_band'], 
                               values=['tp_nm', 'tpf_dbl', 'tpf_od', 'tpf_id', 'tpf_smr', 'sqm_dbl', 'sqm_od', 'sqm_id', 'sqm_smr', 'otrc', 'finkfci', 'finktpi'], 
                               aggfunc=np.sum).reset_index(drop=False)
        
cols = [x[0] for x in list(dfSqmFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfSqmFlat.columns)[5:]]
dfSqmFlat.columns = cols
del dfUfoSubCmd7, cols
print('dfSqmFlat')
"""
dfUfoSubCmd7

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, test_band, tpmtpcdbl, tpmtpcod, tpmtpcid, otrc, finkfci, finktpi, defaultrate, procid, enddt,                                row_number() over (partition by hddsn, testcode, qualifier, lhd, test_band order by enddate desc) as row_num from ghl2.ccb_ci_ufo_scmd7 where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400', '6600') and qualifier in ('3000', '9000', '4000', 'K000') and pfcode not in ('9999', '99V6', '99V7')
(6656, 18)

,hddsn,pfcode,testcode,mfgid,hddtrial,qualifier,lhd,test_band,tpmtpcdbl,tpmtpcod,...,tp_nm,dtpi,tpf_dbl,tpf_od,tpf_id,tpf_smr,sqm_smr,sqm_dbl,sqm_od,sqm_id
0,2FA02EUA,0000,PDQX083M,KJ1C03,Z07E,9000,0,16,10103,8007,...,57.435682,500.0,51.32324,40.675560,37.891720,78.567280,-21.131598,6.112442,16.760122,19.543962
1,2FA00WRA,0000,PDQX083M,KJ1C03,Z07E,3000,1,18,8950,7342,...,52.731344,500.0,45.46600,37.297360,34.985960,72.283320,-19.551976,7.265344,15.433984,17.745384
2,2FA06EXA,0000,PDQX083M,KJ1C03,NPIF,K000,1,60,0,7380,...,42.082435,602.0,0.00000,31.138206,0.000000,31.138206,10.944229,42.082435,10.944229,42.082435
3,2FA01E4A,0000,PDQX083M,KJ1C03,Z07E,3000,1,56,10456,7636,...,59.873378,500.0,53.11648,38.790880,40.502840,79.293720,-19.420342,6.756898,21.082498,19.370538
4,2FA01EHA,0000,PDQX083M,KJ1C03,Z07E,3000,0,54,9951,7426,...,57.606748,500.0,50.55108,37.724080,39.263320,76.987400,-19.380652,7.055668,19.882668,18.343428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6651,2FA06G5A,0000,PDQX083M,KJ1C03,NPIF,4000,0,16,0,0,...,43.579270,602.0,0.00000,0.000000,32.973588,32.973588,10.605682,43.579270,43.579270,10.605682
6652,2FA06H4A,0000,PDQX083M,KJ1C03,NPIF,3000,0,35,9354,7434,...,54.442012,500.0,47.51832,37.764720,37.465000,75.229720,-20.787708,6.923692,16.677292,16.977012
6653,2FA01E4A,0000,PDQX083M,KJ1C03,Z07E,4000,0,5,0,0,...,42.082435,602.0,0.00000,0.000000,30.707841,30.707841,11.374595,42.082435,42.082435,11.374595
6654,2FA06G5A,0000,PDQX083M,KJ1C03,NPIF,9000,1,11,8891,7510,...,52.047077,500.0,45.16628,38.150800,36.398200,74.549000,-22.501923,6.880797,13.896277,15.648877
6655,2FA06GNA,0000,PDQX083M,KJ1C03,NPIF,9000,0,4,9143,7737,...,53.757745,500.0,46.44644,39.303960,36.697920,76.001880,-22.244135,7.311305,14.453785,17.059825

In [33]:
# UFO ADC, BPI, TPI
inputParamGhl2UfoHdBandArray = [snlist_csv, 
                                listTestcode,
                                listEnddt, 
                                listHddTrial,
                                ['6400'],
                                ['1000', '2000']
                               ]
dfUfoHdBandArray = get_ghl2_table('ccb_ci_ufo_hd_band_array', inputParamGhl2UfoHdBandArray, 
                                  'hddsn, enddt, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, band, adc, adckbpi, adcktpi, \
                                   row_number() over (partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num')
dfUfoHdBandArray = pd.read_pickle('df_ccb_ci_ufo_hd_band_array.pkl')
dfUfoHdBandArray.loc[:,'adc']     = dfUfoHdBandArray.loc[:,'adc'].values.astype(np.float64)
dfUfoHdBandArray.loc[:,'adckbpi'] = dfUfoHdBandArray.loc[:,'adckbpi'].values.astype(np.float64)
dfUfoHdBandArray.loc[:,'adcktpi'] = dfUfoHdBandArray.loc[:,'adcktpi'].values.astype(np.float64)
dfUfoHdBandArray.to_pickle('dfUfoHdBandArray.pkl')

"""
dfAdcFlat = pd.pivot_table(dfUfoHdBandArray.query("band<7 and row_num==1"), 
                          index=['hddsn', 'mfgid', 'hddtrial', 'testcode', 'lhd'], 
                          columns=['qualifier', 'band'], 
                          values=['adc', 'adckbpi', 'adcktpi'], 
                          aggfunc=np.sum).reset_index(drop=False)
cols = [x[0] for x in list(dfAdcFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfAdcFlat.columns)[5:]]
dfAdcFlat.columns = cols
del dfUfoHdBandArray, cols
print('dfAdcFlat')
"""
dfUfoHdBandArray

current sql is select hddsn, pfcode, testcode, mfgid, hddtrial, qualifier, lhd, band, adc, adckbpi, adcktpi,                                    row_number() over (partition by hddsn, testcode, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_ufo_hd_band_array where product='pdq' and testcode in ('PDQX083M') and enddt between '20201223' and '20210101' and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400') and qualifier in ('1000', '2000') and pfcode not in ('9999', '99V6', '99V7')
(349, 12)

,hddsn,pfcode,testcode,mfgid,hddtrial,qualifier,lhd,band,adc,adckbpi,adcktpi,row_num
0,2FA06EXA,0000,PDQX083M,KJ1C03,NPIF,1000,0,6,1034.0,2155.0,480.0,1
1,2FA06G3A,0000,PDQX083M,KJ1C03,NPIF,1000,0,3,978.0,2100.0,466.0,1
2,2FA01EHA,0000,PDQX083M,KJ1C03,Z07E,1000,1,6,1055.0,2582.0,408.0,1
3,2FA01EHA,0000,PDQX083M,KJ1C03,Z07E,1000,1,5,1041.0,2494.0,417.0,1
4,2FA01E4A,0000,PDQX083M,KJ1C03,Z07E,1000,1,3,924.0,2365.0,391.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
344,2FA06H1A,0000,PDQX083M,KJ1C03,NPIF,2000,0,3,1028.0,2027.0,507.0,1
345,2FA06G3A,0000,PDQX083M,KJ1C03,NPIF,1000,0,0,849.0,1834.0,463.0,1
346,2FA06GNA,0000,PDQX083M,KJ1C03,NPIF,1000,1,4,1043.0,2275.0,458.0,1
347,2FA02EUA,0000,PDQX083M,KJ1C03,Z07E,2000,0,3,1144.0,2184.0,524.0,1
348,2FA02DKA,6SAT,PDQX083M,KJ1C03,Z07E,1000,1,0,841.0,2088.0,403.0,1

# RWDC

In [81]:
#rwdc
inputParamGhl2Dati = [snlist_csv, 
                     listTestcode,
                     listEnddt, 
                     listHddTrial,
                     ['6600'],
                     ['60H0', 'G0H0']
                    ]
dfRwdc = get_ghl2_table('ccb_ci_rwdc', inputParamGhl2Dati, 
                        'hddsn, lhd, qualifier, phd, testcode, mfgid, hddtrial, band, rwdcmin, rwdcmax, \
                         row_number() over (partition by hddsn, qualifier, lhd, band order by enddate desc) as row_num')
dfRwdc = pd.read_pickle('df_ccb_ci_rwdc.pkl')
#dfRwdc.loc[:,['hddsn', 'lhd', 'phd', 'testcode', 'mfgid', 'band', 'rwdcmin', 'rwdcmax']]
dfRwdcFlat = pd.pivot_table(dfRwdc.query("row_num==1"),
                            index=['hddsn', 'mfgid', 'hddtrial', 'testcode', 'lhd'], 
                            columns=['qualifier', 'band'], 
                            values=['rwdcmin', 'rwdcmax'], 
                            aggfunc=np.sum).reset_index(drop=False)
cols = [x[0] for x in list(dfRwdcFlat.columns)[:5]]+[str(x[0])+'_'+str(x[1])+'_'+str(x[2]) for x in list(dfRwdcFlat.columns)[5:]]
dfRwdcFlat.columns = cols
dfRwdcFlat.to_pickle('dfRwdcFlat.pkl')

current sql is select hddsn, lhd, qualifier, phd, testcode, mfgid, hddtrial, band, rwdcmin, rwdcmax,                          row_number() over (partition by hddsn, qualifier, lhd, band order by enddate desc) as row_num from ghl2.ccb_ci_rwdc where product='pdq' and testcode in ('PDQX054M') and enddt between '20200829' and '20200902' and hddsn in ('2FA03AVA', '2FA014WA', '2FA01ELA', '2FA01DVA', '2FA01E9A', '2FA03DLA', '2FA00EHA', '2FA03D9A', '2FA01E4A', '2FA01DWA', '2FA01E0A', '2FA03BYA', '2FA03AXA', '2FA012GA', '2FA01DXA', '2FA01E3A', '2FA013UA', '2FA012RA', '2FA01EEA', '2FA03D2A', '2FA014RA', '2FA014VA', '2FA01E1A', '2FA01EGA', '2FA01E8A', '2FA00U9A') and procid in ('6600') and qualifier in ('60H0', 'G0H0') and pfcode not in ('9999', '99V6', '99V7')
(3200, 11)

In [85]:
# Merge all tables

dfParamAll = dfHeadMap.copy(deep = True)
for df in [dfRsbnFlat, dfSerFlat, dfSerOffsetFlat, 
           dfOwFlat, dfMcwFlat, dfMrwFlat, dfAmpFlat, 
           dfAsymFlat, dfRwipFlat, dfSatiSerFlat, dfNmaxTempFlat, dfAsb]:
    dfParamAll = dfParamAll.merge(df,
                             left_on  = ['hddsn', 'lhd', 'phd', 'mfgid', 'testcode'],
                             right_on = ['hddsn', 'lhd', 'phd', 'mfgid', 'testcode'],
                             how='left',
                            )
    print(dfParamAll.shape)
    
for df in [dfSqmFlat, dfAdcFlat]:
    dfParamAll = dfParamAll.merge(df,
                             left_on  = ['hddsn', 'lhd', 'mfgid', 'testcode'],
                             right_on = ['hddsn', 'lhd', 'mfgid', 'testcode'],
                             how='left',
                            )
    print(dfParamAll.shape)

dfParamAll.to_pickle('dfParamAll.pkl')
dfParamAll.to_csv('dfParamAll.csv')

(52, 263)
(52, 1415)
(52, 2567)
(52, 2615)
(52, 2635)
(52, 2659)
(52, 2803)
(52, 2839)
(52, 2875)
(52, 3308)
(52, 3437)
(52, 3439)
(52, 6512)
(52, 6555)

In [86]:
pd.pivot_table(dfParamAll, index=['testcode', 'mfgid'], columns='lhd', values='hddsn', aggfunc='count')

lhd               0   1
testcode mfgid
PDQX054M KJ1Y01   7   7
         KJ1Y03   6   6
         KJBY01  13  13

# DET Data

In [15]:
# Association

inputParamVqaa = [snlist_csv, 
                  listTestcode,
                  listEnddt, 
                  listHddTrial,
                  ['6400']
                 ]
get_vqaa_table ('fact_hdd_headops', inputParamVqaa, 'product, slidersn, pheadno, hddsn, procid, mfgid, hddtrial, enddate, \
                 row_number() over ( partition by slidersn order by enddate desc) as row_num', whereAdded = None)

current sql is select product, slidersn, pheadno, hddsn, procid, mfgid, hddtrial, enddate,                  row_number() over ( partition by slidersn order by enddate desc) as row_num from vqaa.fact_hdd_headops where product='pdq' and testpgmver in ('PDQX083M') and enddt between '20201223' and '20210101' and hddtrial in ('Z07E', 'NPIF') and hddsn in ('2FA00WRA', '2FA02E8A', '2FA06EXA', '2FA06GNA', '2FA06H4A', '2FA06H1A', '2FA06G5A', '2FA06G3A', '2FA02DKA', '2FA01E4A', '2FA02EUA', '2FA02EAA', '2FA02DNA', '2FA01EHA') and procid in ('6400')
(306, 9)

,product,slidersn,pheadno,hddsn,procid,mfgid,hddtrial,enddate,row_num
0,pdq,49FB51932F,7,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1
1,pdq,4AF083B607,4,2FA06G3A,6400,KJ1C03,NPIF,20201229143527,1
2,pdq,49FBF2D223,12,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1
3,pdq,49FBF1B432,0,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1
4,pdq,49F8D1182C,10,2FA06H4A,6400,KJ1C03,NPIF,20201229142426,1
...,...,...,...,...,...,...,...,...,...
301,pdq,49F491C709,7,2FA01EHA,6400,KJ1C03,Z07E,20201223225255,1
302,pdq,49F6A28B38,7,2FA02DNA,6400,KJ1C03,Z07E,20201223224858,1
303,pdq,4AFF60B71B,7,2FA06GNA,6400,KJ1C03,NPIF,20201229141542,1
304,pdq,4AFF60B71B,7,2FA06GNA,6400,KJ1C03,NPIF,20201228132753,2
305,pdq,4AFF60B71B,7,2FA06GNA,6400,KJ1C03,NPIF,20201228132746,3

In [19]:
## sdet ##
inputParamSldr = ['df_fact_hdd_headops.csv', 
                  ['2020-01-01', '2020-07-31'],
                 ]
get_sdet_table('sldr.sdet_special_trans', inputParamSldr, 
               'slidersn, product, storeday, \
                wew_r0_nm_sto_2, wew_r1_nm_sto_2, wew_r0_mww_nm_sto_2, wew_r1_mww_nm_sto_2, wew_r0_umrw_nm_sto_2, wew_r1_umrw_nm_sto_2, wew_r0_eb_nm_sto_2, wew_r1_eb_nm_sto_2, \
                row_number() over ( partition by slidersn order by storeday desc) as row_num',
                whereAdded = None)

current sql is select slidersn, product, storeday,                 wew_r0_nm_sto_2, wew_r1_nm_sto_2, wew_r0_mww_nm_sto_2, wew_r1_mww_nm_sto_2, wew_r0_umrw_nm_sto_2, wew_r1_umrw_nm_sto_2, wew_r0_eb_nm_sto_2, wew_r1_eb_nm_sto_2,                 row_number() over ( partition by slidersn order by storeday desc) as row_num from hive.sldr.sdet_special_trans where storeday between '2020-01-01' and '2020-07-31' and slidersn in ('49FB51932F', '4AF083B607', '49FBF2D223', '49FBF1B432', '49F8D1182C', '4AF081CC0A', '4AF081CC0A', '4AF081CC0A', '49F8D11835', '49FBF3FF22', '4AF0823428', '4AFF60B339', '49FBF3A615', '4AFF61130A', '4AFF61130A', '49F6A28627', '49F8D1183B', '49FBF0330B', '49F8818902', '4AF080AC1D', '4AF080AC1D', '4AF080AC1D', '4AFF60B338', '4AF0821A19', '4AFF605126', '49F491C70C', '49FBF2D221', '49FBF0F215', '49F491C715', '49FBF03510', '49FCC2130D', '49FCC2130D', '4AFF61591C', '4AFF61591C', '49F5508532', '49F5536420', '49F8A33C1D', '4A2B82810B', '49F4910703', '49FBF03B0F', '49FBF0351D', '49FBF3FF12', '49FBF3FF1A', '49F880D524', '49FBF3FF29', '49F550640D', '49F8D11834', '49FBF3A61A', '49F550640F', '4AF0821429', '4AF0821429', '49F8D23637', '49FBF40921', '49FBF0F22D', '49F8A39C11', '4AFF608139', '4AF0804A2E', '4AF0804A30', '49F8D0FE2F', '49F553641E', '4AFF60512E', '4AFF60B70F', '4AFF60B70F', '4AFF60B70F', '49FBF3A904', '49FBF2D220', '4AFF615926', '4AFF615926', '49FBF0350A', '49FBF4091C', '49FBF0F22F', '49F8A34E0A', '49FBF0F214', '49FBF40923', '49F8836E11', '49F8A34E0D', '49FBF0F22C', '49FB507129', '49FD018E1E', '4AFF605125', '49FD00682E', '49F5508534', '49FBF3A618', '4AF0804A2C', '4A2B828107', '49FB52451B', '49FBF40912', '4AFF615921', '4AFF615921', '49F8D1182A', '49FD018E1C', '49FBF03514', '49FBF0F22E', '4AFF632725', '4AFF632725', '4AFF632725', '4AF0821220', '4AF0821220', '49FBF1B434', '49F8A34E17')
(85, 12)
current sql is select slidersn, product, storeday,                 wew_r0_nm_sto_2, wew_r1_nm_sto_2, wew_r0_mww_nm_sto_2, wew_r1_mww_nm_sto_2, wew_r0_umrw_nm_sto_2, wew_r1_umrw_nm_sto_2, wew_r0_eb_nm_sto_2, wew_r1_eb_nm_sto_2,                 row_number() over ( partition by slidersn order by storeday desc) as row_num from hive.sldr.sdet_special_trans where storeday between '2020-01-01' and '2020-07-31' and slidersn in ('49F8812338', '4AFF60813A', '49FD018E17', '4AF080AC21', '4AF080AC21', '4AF080AC21', '4AF0821222', '4AF0821222', '49F8D0FE37', '4AF083B608', '4A2B827910', '4A2B82810F', '49F8A04017', '49FBF3A619', '4A2B82790B', '4AF080AC25', '4AF080AC25', '4AF080AC25', '49FB507131', '4AFF61D906', '4AFF61D906', '4AFF61D906', '49F8A39C0D', '4AF082342B', '49F550D50A', '49F5536416', '49F8A0400D', '4AFF632727', '4AFF632727', '4AFF632727', '4AF0815E04', '49F8A33C2C', '49FBF3A908', '4AFF605123', '49F491C705', '49FD018E18', '4AFF61591D', '4AFF61591D', '49FBF3A61B', '49FBF2D229', '4AF082121D', '4AF082121D', '49FBF40917', '49FBF2772C', '49F8A04016', '49F5508539', '4A2B827513', '49F5536412', '49FBF3A60F', '4AFF60B334', '49F880D52A', '49F8D11820', '49FD006830', '4AF080AC28', '4AF080AC28', '4AF080AC28', '49FBF1D13A', '49F8A39C10', '49FBF40B19', '4A2B827735', '49F8A34E24', '4AFF60512D', '4AF0821223', '4AF0821223', '4AF082121F', '4AF082121F', '49FBF3FF26', '49F6A1C019', '4AF0823424', '49F8812337', '4AFF60B336', '49F8812339', '4A2B82713A', '4A2B828127', '49F8A39C16', '4AFF61D908', '4AFF61D908', '4AFF61D908', '49F6A1C014', '49F8A33C32', '49F8A33C27', '49F8D17805', '49F8D17805', '49FBF0F22A', '4AFF60B71C', '4AFF60B71C', '4AFF60B71C', '49FBF09B25', '49F8A33C2E', '4AFF632726', '4AFF632726', '4AFF632726', '49FBF3FF1F', '4AF0823427', '4AF080AC26', '4AF080AC26', '4AF080AC26', '49F6A1C013', '49FB519334', '49F8D0FC09')
(161, 12)
current sql is select slidersn, product, storeday,                 wew_r0_nm_sto_2, wew_r1_nm_sto_2, wew_r0_mww_nm_sto_2, wew_r1_mww_nm_sto_2, wew_r0_umrw_nm_sto_2, wew_r1_umrw_nm_sto_2, wew_r0_eb_nm_sto_2, wew_r1_eb_nm_sto_2,                 row_number() over ( partition by slidersn order by storeday desc) as row_num from hive.sldr.sdet_special_trans where storeday between '2020-01-01' and '2020-07-31' and slidersn in ('49F8A33C1A', '49F5508537', '49F8D0FC0E', '49FB53D904', '49F6A3FD1F', '4AFF60512C', '4AFF615925', '4AFF615925', '49FD018E21', '4AF082121E', '4AF082121E', '4AFF61592D', '4AFF61592D', '4A2B82790F', '49FBF1D135', '49F491C70A', '49F6A1C00D', '49FBF09E2D', '4A2B827930', '49FBF09323', '49F8812334', '49FBF2DD0F', '49FB507123', '4AFF60B711', '4AFF60B711', '4AFF60B711', '49FCC39502', '49FCC39502', '49F8A33C2B', '49F550642D', '49F491C703', '49F6A1C01D', '4A2B827B08', '49F6A1C018', '49F8D1182B', '4AFF60B335', '49F8A04015', '4AF080AC20', '4AF080AC20', '4AF080AC20', '4AFF605121', '4A2B827907', '49F5506431', '49F8A34E1E', '49FD018E20', '4AF0816C13', '4AF0816C13', '4AF0816C13', '4A2B827D0C', '49F6A2863A', '49FBF3A610', '49FBF40914', '49FBF03B0B', '4AFF605120', '49F8A33C29', '49FBF03511', '4A2B82811C', '49F8D0FE31', '4A2B828105', '49F5508533', '49F8824F10', '49FBF3FF16', '49F491C708', '49FBF4091A', '49FB530726', '4A2B82810E', '49FBF3A613', '49FBF09E32', '49F881890A', '49F8A34E18', '49FBF0F22B', '4AFF605129', '4AFF60B32C', '49FBF03530', '49FBF0F216', '49FD006838', '4A2B828109', '4AF0804A35', '4AFF60B337', '49F8A34E13', '49F5508530', '49FBF09E15', '49F8D0FC15', '49F8A39C0F', '49F8D0FC1C', '4AF0821221', '4AF0821221', '49F491C70B', '49F550D51C', '4AF080AC23', '4AF080AC23', '4AF080AC23', '49FBF39517', '49F5536410', '49F8A33C2A', '49F6A28C04', '49F8A34E08', '49FB519337', '49FBF27738', '49FB530725')
(248, 12)
current sql is select slidersn, product, storeday,                 wew_r0_nm_sto_2, wew_r1_nm_sto_2, wew_r0_mww_nm_sto_2, wew_r1_mww_nm_sto_2, wew_r0_umrw_nm_sto_2, wew_r1_umrw_nm_sto_2, wew_r0_eb_nm_sto_2, wew_r1_eb_nm_sto_2,                 row_number() over ( partition by slidersn order by storeday desc) as row_num from hive.sldr.sdet_special_trans where storeday between '2020-01-01' and '2020-07-31' and slidersn in ('49F8A34E11', '49F491C709', '49F6A28B38', '4AFF60B71B', '4AFF60B71B', '4AFF60B71B')
(252, 12)

,slidersn,product,storeday,wew_r0_nm_sto_2,wew_r1_nm_sto_2,wew_r0_mww_nm_sto_2,wew_r1_mww_nm_sto_2,wew_r0_umrw_nm_sto_2,wew_r1_umrw_nm_sto_2,wew_r0_eb_nm_sto_2,wew_r1_eb_nm_sto_2,row_num
0,4AF0823428,C3_B_D,2020-07-29,None,None,None,None,None,None,None,None,1
1,4AFF60B339,C3_T_D,2020-07-28,None,None,None,None,None,None,None,None,1
2,49F8A33C1D,C3_B_D,2020-03-10,None,None,None,None,None,None,None,None,1
3,4AFF61591C,C3_T_D,2020-07-30,None,None,None,None,None,None,None,None,1
4,49F8D11835,C3_B_D,2020-06-07,None,None,None,None,None,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...
86,49FBF2DD0F,C3_T_D,2020-03-10,None,None,None,None,None,None,None,None,1
0,49F491C709,C3_T_D,2020-03-11,None,None,None,None,None,None,None,None,1
1,49F6A28B38,C3_T_D,2020-03-12,None,None,None,None,None,None,None,None,1
2,4AFF60B71B,C3_T_D,2020-07-28,None,None,None,None,None,None,None,None,1
3,49F8A34E11,C3_B_D,2020-03-08,None,None,None,None,None,None,None,None,1

In [20]:
#Combine slider sn, pheadno, and HDD SN
df = pd.read_pickle('df_fact_hdd_headops.pkl').query("row_num==1").merge(pd.read_pickle('df_sldr.sdet_special_trans.pkl').loc[:,['slidersn', 'storeday', 'wew_r0_nm_sto_2', 'row_num']].query("row_num==1"),
                                                                         left_on=['slidersn', 'row_num'], 
                                                                         right_on=['slidersn', 'row_num'], 
                                                                         how='left')
df.to_pickle('hddops_association.pkl')
df

,product,slidersn,pheadno,hddsn,procid,mfgid,hddtrial,enddate,row_num,storeday,wew_r0_nm_sto_2
0,pdq,49FB51932F,7,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1,2020-03-09,None
1,pdq,4AF083B607,4,2FA06G3A,6400,KJ1C03,NPIF,20201229143527,1,2020-07-28,None
2,pdq,49FBF2D223,12,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1,2020-03-14,None
3,pdq,49FBF1B432,0,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1,2020-03-14,None
4,pdq,49F8D1182C,10,2FA06H4A,6400,KJ1C03,NPIF,20201229142426,1,2020-06-07,None
...,...,...,...,...,...,...,...,...,...,...,...
247,pdq,49FB530725,15,2FA02DKA,6400,KJ1C03,Z07E,20201223104205,1,2020-03-09,None
248,pdq,49F8A34E11,10,2FA02E8A,6400,KJ1C03,Z07E,20201223223939,1,2020-03-08,None
249,pdq,49F491C709,7,2FA01EHA,6400,KJ1C03,Z07E,20201223225255,1,2020-03-11,None
250,pdq,49F6A28B38,7,2FA02DNA,6400,KJ1C03,Z07E,20201223224858,1,2020-03-12,None
251,pdq,4AFF60B71B,7,2FA06GNA,6400,KJ1C03,NPIF,20201229141542,1,2020-07-28,None